[2016-08-17 16:15] maechler opened #3 "Add an HTMLViewHelper"
Add a ViewHelper that takes HTML as input: https://tcpdf.org/examples/example_061/

[2016-08-19 04:49] maechler opened #4 "Add TCPDF as composer dependency"
https://composer.typo3.org/
https://packagist.org/packages/tecnickcom/tcpdf

[2016-08-19 11:06] maechler opened #5 "Disable TYPO3 caching by default"
Disable caching by default because it makes no sense to save the PDF to the frontend cache. And if the PDF is saved to the filesystem there will be an empty cache entry for this page causing the PDF ViewHelpers not to be executed on a second call.
Add a TypoScript configuration to enable caching.

[2016-08-19 11:12] maechler opened #6 "Change AbstractText to use generalText.alignment and generalText.paragraphSpacing settings"
https://github.com/bithost-gmbh/pdfviewhelpers/blob/master/Classes/ViewHelpers/AbstractTextViewHelper.php

Line 50 and 51

[2016-08-24 05:21] #5 closed

[2016-08-24 05:21] #3 closed

[2016-08-24 18:15] #6 closed

[2016-08-24 18:44] #4 closed

[2016-09-09 17:12] ste101 opened #7 "[FEATURE] Add fpdi"
Please add the fpdi library and add an example how to use it:
https://www.setasign.com/products/fpdi/downloads/

[2016-09-10 08:48] maechler commented on #7
That is a great idea! We will definitely add support for FPDI.

In the mean time you could already use certain features by providing your own PDF class:

`plugin.tx_pdfviewhelpers.settings.config.class = Vendor\Extension\Model\FPDI`

https://docs.typo3.org/typo3cms/extensions/pdfviewhelpers/Example/Index.html

[2016-09-18 10:05] maechler commented on #7
I have added basic support for FPDI. You can now load a PDF on the DocumentViewHelper with the attribute sourceFile and use it with the PageViewHelper attribute importPage.

https://docs.typo3.org/typo3cms/extensions/pdfviewhelpers/TemplatePDF/Index.html

[2016-09-18 10:05] #7 closed

[2016-09-19 08:32] maechler opened #8 "Improve documentation on using fonts"
At least all default fonts from TCPDF should be documented.

[2016-09-19 08:33] maechler opened #9 "Add an easy way to add custom fonts"

[2016-10-12 09:40] tombuku opened #10 "PHP Warning: Cannot modify header information - headers already sent by ..."
any chance to get ride of this?

From the log:
PHP Warning: Cannot modify header information - headers already sent by output started at .../typo3conf/ext/pdfviewhelpers/Classes/ViewHelpers/DocumentViewHelper.php:106) in .../typo3/sysext/frontend/Classes/Controller/TypoScriptFrontendController.php line 3697

TYPO3 Version 7.6.10, PHP Version 7

[2016-10-12 10:05] macjohnny commented on #10
hey
do you have any other extension on that page which is rendered afterwards?
or do you have any script that will modify the header information during the rendering process?

[2016-10-12 10:40] tombuku commented on #10
I don't think so :-)
I've also deactivated all extensions, but the Warning still appears.
Can something in TS setup config also cause the problem?
My understanding of the whole page processing is not that deep...

[2016-10-12 12:19] maechler commented on #10
Does this also happen with our example? https://docs.typo3.org/typo3cms/extensions/pdfviewhelpers/Example/Index.html

You could try creating a new page template and adding only the following configuration:

[code]

Note you also have to add the static TypoScript template of the extension.

[2016-10-12 12:23] macjohnny commented on #10
@maechler how about just calling exit() to avoid any processing after the pdf has been generated? this way, would avoid any potential problems...

[2016-10-12 12:32] maechler commented on #10
@macjohnny I am still not in favour of such a solution. I think we should let TYPO3 finish gracefully if possible, not doing so could lead to other errors. In addition it would only solve the problem for plugin content that is rendered after the extension pdfviewhelpers, if there is any output before the rendering of the PDF we would have the same problem.

[2016-10-12 13:18] tombuku commented on #10
I can do some more research and try also your default Example.

How about a ob_clean() right befor the PDF Output?
I have done some costum TYPO3 Extensions with FPDF in the past and this was always my last solution to get rid of the header already sent problem. May not a good solution, but the only one a came across so far.

And by the way I was happy to find your solution to integrate TCPDF in TY

[2016-10-12 13:26] macjohnny commented on #10
sounds like a reasonable solution. @maechler what do you think?

[2016-10-12 13:46] maechler commented on #10
I guess that is something we could add that is not too harmful. But still it might hide possible errors, errors like we might have one here.

Anyways..having a closer look at the error message it seems like a ViewHelper is producing this error, because it says output started at https://github.com/bithost-gmbh/pdfviewhelpers/blob/master/Classes/ViewHelpers/DocumentViewHelper.php#L106. That is the p

[2016-10-12 14:25] tombuku commented on #10
The Fluid Template:

{namespace pdf=Bithost\Pdfviewhelpers\ViewHelpers}
<pdf:document outputDestination="I" title="{job.title}">
    <pdf:page>
        <pdf:text>{job.lead}</pdf:text>
        <pdf:headline>{job.title}</pdf:headline>
        <pdf:html>{job.description -> f:format.html()}</pdf:html>

        <pdf:headline padding="{top: 2, right:0, bottom:0, left:0}" fontSize="10">Anforderungen</pdf

[2016-10-12 15:35] maechler commented on #10
Hm..I do not see something that should cause that error. Is it possible that you are echoing something in one of the getters of your job entity?
When you use e.g. `{job.title}` Fluid calls `$job->getTitle()` which might echo something.

If that is not the case please try it with the example I provided above, just to check if the same error occurs. To find the error it might also help to reduce you

[2016-10-12 16:27] maechler opened #11 "Add the possibility to have default settings for more than one headline"
e.g.

**TypoScript**

[code]

**Fluid**

[code]

OR

**TypoScript**

[code]

**Fluid**

[code]

[2016-10-13 11:55] tombuku commented on #10
I tried your proposal checking the template step by step. I also disabled the header/footer in use. But the PHP Warning is still there.
I am using the Version 1.1.0 and the Line 106 in the DocumentViewHelper with the error is at: ob_end_flush();

Meanwhile I think the problem may apperas as we call it from a action in our Job Extension...

[2016-10-13 12:29] maechler commented on #10
Ah okay, I thought you were on version 1.2.0. I have not tested it from an action lately, I will have to do so. If you find out something more, please let me know.

btw..
[v1.2.0_commercial]
There is v1.2.0 available with a neat new feature. It is now possible to load a pdf document as template and only fill the blank space in the Fluid template: https://docs.typo3.org/typo3cms/extensions/pdfviewh

[2016-10-14 05:13] maechler commented on #10
I am afraid, also from an action I can not reproduce that error.

[2016-10-14 05:21] maechler opened #12 "Change default PDF class to EmptyFPDI in setup.txt"

[2016-10-27 08:17] maechler commented on #10
@tombuku Any updates on that issue? Have you found something?

[2016-10-27 09:26] tombuku commented on #10
I gave it up for the moment. I also tried a ob_clean() in your extension, but with no effect. So I am guessing it is a Extbase issue/ or a problem of our extenison...
You can close the ticket. But thanks for your fast support!

[2016-10-27 10:24] maechler commented on #10
Alright, thanks for your response!

[2016-10-27 10:24] #10 closed

[2016-12-03 13:32] Behau opened #13 "Problems with Html ViewHelper"
I had a very big problem with your Html ViewHelper. When I tried to show some content from my database over a fluid command I got a blank side.

This is my code for the geneartion of the PDF-Document:

{namespace pdf=Bithost\Pdfviewhelpers\ViewHelpers}

[code]

I found out, that the f.format.htmlentitiesDecode is never working. When I delete this code I get some times a text and sometimes no text.

[2016-12-04 08:06] maechler commented on #13
Hi Behau

I just copied part of your template and that worked just fine, also with the ViewHelper `f.format.htmlentitiesDecode`.

**Code**
[code]

**output**
<img width="642" alt="test_pdf" src="https://cloud.githubusercontent.com/assets/4113819/20864839/490bc242-b9ff-11e6-92dc-a81bde6b194e.png">

I think the problem you are describing could be because of a caching issue. When the frontend cache i

[2016-12-04 10:31] Behau commented on #13
Hi maechler,

I found my problem.
Some parts of the content elements had <div> container in it and so the <f:format.htmlentitiesDecode value="{element}" /> part made some problems at the pdf-creation.

This content comes from a form where people can entry information about courses etc. And someone had copied elements from a hompeage and with that, the <div> elements...

I will now write a code, th

[2016-12-04 10:31] #13 closed

[2016-12-04 10:43] maechler opened #14 "ViewHelper to load css styles for HtmlViewHelper"
e.g.
[code]

or

[code]

[2017-01-14 20:26] #12 closed

[2017-01-16 08:46] maechler opened #16 "Add PageBreakViewHelper"
Add a ViewHelper to add page breaks, that would allow conditional page breaks within the Fluid template.

[code]

[2017-01-30 08:16] cansik commented on #16
I think this would be a good feature! 🙌🏻

[2017-03-15 14:47] Oktopuce opened #17 "No more compatibility with PHP 5.4"
Hi,

The last version of the extension is no more compatible with PHP 5.4 because of this line :

$this->configurationManager = GeneralUtility::makeInstance(ConfigurationManager::class);

in 5.4 you can use this :

$this->configurationManager = GeneralUtility::makeInstance(\get_class(new \TYPO3\CMS\Extbase\Configuration\ConfigurationManager));

Reagrds,
Florian

[2017-03-16 06:46] maechler commented on #17
Hi @Oktopuce

Thanks for reporting that issue! We will fix it soon and release a new version!

[2017-03-16 09:51] Oktopuce commented on #17
Hi,

There is another compatibility problem the extension cannot be installed on Typo3 6.2.0 because there is a problem with the composer :

Oops, an error occurred!
The package "pdfviewhelpers" depends on "typo3/cms" which is not present in the system.

Florian

[2017-03-16 10:06] Oktopuce commented on #17
I found this solution for composer : change the package name from typo3/cms to typo3/cms-cms.

[2017-03-16 10:26] maechler commented on #17
@Oktopuce That seems a little strange to me, especially since there is no composer package `typo3/cms-cms`. The official TYPO3 composer package name is `typo3/cms` found [here](https://packagist.org/packages/typo3/cms).

When exactly does that error occur?

[2017-03-16 10:56] Oktopuce commented on #17
This occurred when I tried to install the version 1.2.0 on a typo3 6.2.0.
I found that solution on the web and didn't look further but may be it's "typo3/cms-core" instead of "typo3/cms-cms".

Look here : https://review.typo3.org/#/c/35501/2/composer.json

[2017-03-16 13:11] maechler commented on #17
As far as I can see is `typo3/cms-core` now part of the package `typo3/cms`. See https://github.com/TYPO3/TYPO3.CMS/blob/master/composer.json#L92
There is also no package `typo3/cms-core` on packagist.org.

I also tested installing the extension on TYPO3 6.2.16 using the extension manager, that worked for me.

Do you install it with the extension manager or via composer? What commands do you use?

[2017-03-16 14:15] Oktopuce commented on #17
I installed it via the Extension Manager. I didn't test it on a fresh installation.

[2017-03-16 16:19] maechler commented on #17
Hmm..I could not reproduce that issue. Although I can not yet fully grasp the problem or the way TYPO3 handles the composer.json files, I think the dependency should be `typo3/cms-core` as you suggested.
See also https://wiki.typo3.org/Composer.

[2017-03-16 16:38] maechler commented on #17
I fixed these issues and created a new release. Soon the extension will be available in TER.
I will close here, thanks for reporting the issues!

[2017-03-16 16:38] #17 closed

[2017-03-17 05:49] maechler opened #18 "Add TYPO3 8 LTS support"

[2017-03-19 06:13] maechler opened #19 "ConfigurationManager not initialized correctly"
The configurationManager should be retrieved from the Extbase Object Manager in order to be correctly initialized.

Replace the following line:
https://github.com/bithost-gmbh/pdfviewhelpers/blob/0a02f835e63e244f65d6f4405056878070e7789e/Classes/ViewHelpers/AbstractPDFViewHelper.php#L57

with:
[code]

A possible error resulting from that issue could be:

`Fatal error: Call to a member function getC

[2017-03-19 09:22] macjohnny commented on #19
+1

[2017-03-21 08:36] angeloprevitali commented on #18
Hello

we would appreciate if you adapt this great extension with the actual TYPO3 CMS verson of 8.6^.
Have you got any plans concernign timeline?

Thanks.

Regards,
Angelo

[2017-03-21 08:58] maechler commented on #18
Hi Angelo

We wanted to wait until TYPO3 8 LTS is released, which is scheduled for April 2017. I do not think we need to change a lot, I guess we can add support within 1-2 weeks after the release.

However we need to release a bugfix this week. I will test it also on TYPO3 8.6. If there are no major problems I guess we can already add support for that version.

Kind regards,
Markus

[2017-03-21 09:16] angeloprevitali commented on #18
Hi Markus

great. Thank you very much for your quick answer.

Best regards,
Angelo

[2017-03-21 09:21] maechler commented on #19
I fixed this and will include it in the next release coming soon.

[2017-03-21 09:21] #19 closed

[2017-03-21 13:17] maechler commented on #18
Hi Angelo

I just released a new version with the bugfix I mentioned and a fix of a fatal error in TYPO3 8.6.
Unfortunately there is still a caching issue in TYPO3 8.6 with the MultiColumnViewHelper. It works on the first request, but as soon as the Fluid template is cached, it does not work anymore.
I am not sure yet whether that is an error in TYPO3 or our extension. That is why I have not added

[2017-03-22 07:24] angeloprevitali commented on #18
Hi Markus

Great. I will check this out in the next days and let you know about the results here on GitHub.

Bets regards,
Angelo

[2017-03-31 14:41] angeloprevitali commented on #18
Hi Markus

i tried the GitHub adapted V8 Version of your extension, but i couldn't get this EXT to work on. I just get a Execption on the FE and the sourcecode of the PDF is shown. Maybe i have to set up the Viewhelpers completely new. I don't have any idea where the bug leads currently. I will try it again in a few days/week(s). Currently i got a lot of other work to do, so I don't know when i wi

[2017-03-31 14:45] maechler commented on #18
Hi Angelo

Thanks for your response! Interesting..I only observed a caching issue with the MultiColumnViewHelper, the rest seemed to work for me. I will add support for TYPO3 8 LTS as soon as possible when it comes out.

Kind regards,
Markus

[2017-04-20 15:33] maechler opened #20 "Improve documentation"
- [x] Fluid template caching on MultiColumnViewHelper
- [x] Example page structure
- [x] Example structure
- [x] ViewHelper documentation (attributes)
- [x] Available fonts
- [x] Add custom fonts
- [x] FPDI in configuration reference
- [x] Add more examples: Basic, FPDI, Full Feature Show Case

[2017-04-20 15:33] maechler opened #21 "Add integration tests for examples"

[2017-04-20 15:34] maechler opened #22 "Add support for travis builds"

[2017-04-20 15:34] maechler opened #23 "Change code style to PSR2 and check it on travis"

[2017-04-20 15:59] maechler opened #24 "Refactor example structure, Add examples"

[2017-04-20 16:04] maechler commented on #18
@angeloprevitali

I added support for TYPO3 8.7 LTS, however it may take some time until I release it to the TER, because I want to include some more changes.
If you need it already you can simply use the latest code from the master branch.

[2017-04-20 16:04] #18 closed

[2017-04-20 16:05] angeloprevitali commented on #18
Guten Tag

Ich bin bis und mit Sonntag, 23. April 2017 abwesend.

Ihr E-Mail wird nicht weitergeleitet und erst am Montag, 24. April 2017 gelesen.

In dringenden Fällen kontaktieren Sie Herr Bruno Buess (buess@netconsult.ch, Tel.  031 352 01 48).

Besten Dank.

Freundliche Grüsse
Angelo Previtali
TYPO3 CMS Integrator

NetConsult AG
Buristrasse 21, 3006 Bern
Tel. 031 352 01 48
angelo.previtali@netc

[2017-04-20 16:21] #16 closed

[2017-04-20 19:30] #14 closed

[2017-04-20 19:42] maechler opened #25 "Allow partial overwrites in padding and margin settings"
Add possibility to e.g. only overwrite `top` in the template or on the headline padding settings, thus remove the need to always provide a full padding or margin array e.g. `{top: 10, right: 0, bottom: 0, left: 0}`

[2017-04-21 21:31] #24 closed

[2017-04-21 21:34] #9 closed

[2017-04-21 21:34] #8 closed

[2017-04-23 08:13] #20 closed

[2017-04-27 06:32] angeloprevitali commented on #18
Hello Markus

i tried again your EXT: but i got only this as result of a page. Any ideas?

![screenshot_1](https://cloud.githubusercontent.com/assets/17588253/25470740/fa74b274-2b23-11e7-8b13-ab6e198d72d8.png)

Thanks and regards,
Angelo

[2017-04-27 06:40] angeloprevitali commented on #18
Just another thing: If I insert on a custom template which i will assign on a specific page the content elements of the website isn't getting outputted correctly.

Example that will NOT work:

`
....
<pdf:text>
 <f:cObject typoscriptObjectPath="lib.seitentitel" />
 <f:format.raw>{inhalte}</f:format.raw>
</pdf:text>
...
`

any ideas?

Regards,
Angelo

[2017-04-27 07:04] maechler commented on #18
Issue 1)
Can you have a look at the response headers in the developer tools?
Especially important are `Content-Type: application/pdf` and `Content-Disposition: inline, filename=bithost_example.pdf`.
If these headers are not present it may be that they are overwritten by some other plugin.
Is that the example that is being shipped with the extension? does this happen with all the examples?
You find

[2017-04-27 07:17] angeloprevitali commented on #18
Issue 1)
I will create a brandnew ext template and will re-try the creation of a PDF. Seems that the encoding is wrong, YES. But I don't know yet exactly, how you will render a whole content of a website as a PDF.. I will try again :)

Issue 2)
Outputting <f:cObject typoscriptObjectPath="lib.seitentitel" /> this generates HTML code and NOT only the content. Also here I will try again now :)

Thank

[2017-04-27 07:25] maechler commented on #18
Issue 2)

If you are generating HTML content, then you should feed it to the HtmlViewHelper:

[code]

The TextViewHelper can not deal with HTML content. The HtmlViewHelper could also be the solution to issue 1.

[2017-04-27 08:23] angeloprevitali commented on #18
YES. It works now :)

The problem was, that IF you got already a template which loads the default configuration in the header that new header informations like application/pdf wasn't loaded (as you described it). Now for rendering a a existing content with

`<pdf:html>
    {inhalte}
</pdf:html>`

of a page I added the following:

pdf = PAGE
pdf {
        typeNum = 999

        config {
        dis

[2017-04-27 09:11] angeloprevitali commented on #18
Hello again!

Now that everything is working - do you have any experiences about creating PDF generated TYPO3 content pages with the following languages:

Used Font: OpenSans (Google font)
- Turkish
- Soomali
- Tigrynia

As I saw the generated PDF with Content with Tigrynia creates only ???????? in PDF.

Here an example from ColPos = 0

Thanks for your feedback.

Regards,
Angelo

[2017-04-27 09:22] maechler commented on #18
I am afraid, I have no experiences using these languages. Under the hood pdfviewhelpers uses TCPDF, maybe it helps to include TCPDF in your Google search for that issue. Here is a raw example of TCPDF using Persian and Arabic language: https://tcpdf.org/examples/example_018/

Does it work with the default font?

[2017-06-18 16:30] maechler opened #26 "Add an example for a custom ViewHelper"

[2017-10-30 14:20] koritnik opened #28 "Warning in TCPDF on PHP 7.1.x"
Trying to render content with more than one link in it, runs in a "Illegal string offset 'url'" warning in tcpdf.php, which breaks the PDF rendering. Updating to tecnickcom/TCPDF 6.2.13 solves this problem.

[2017-10-30 14:30] macjohnny commented on #28
resolved in #29
thanks @koritnik for your issue report and your contribution!

[2017-10-30 14:30] #28 closed

[2017-11-13 06:48] macjohnny opened #31 "Add viewhelper for header / footer elements"

[2017-11-13 06:57] macjohnny commented on #31
Currently, it is necessary to extend the class defined in `plugin.tx_pdfviewhelpers.settings.config.class`, overwrite the `Header()` or `Footer()` method or both and set the custom class in `plugin.tx_pdfviewhelpers.settings.config.class`

The `Header()` and `Footer()` methods are called for every new page added.

[2017-11-13 06:58] macjohnny commented on #31
See the example in https://github.com/bithost-gmbh/pdfviewhelpers/blob/master/Classes/Model/BithostTCPDF.php#L42

[2017-11-13 18:20] macjohnny opened #32 "Prevent any output after EOF"

[2017-11-27 15:05] macjohnny commented on #32
merged in #33

[2017-11-27 15:05] #32 closed

[2018-02-06 06:24] macjohnny opened #35 "Bug: Crash when using in TYPO3 Backend (Regression)"
As pointed out by @liayn in https://github.com/bithost-gmbh/pdfviewhelpers/commit/42385a4842ad0eb0574789877bb91400de261bce#r27355212 checking for `TSFE` crashes in backend

[2018-02-06 06:27] macjohnny commented on #35
@maechler could you have a look at it?

[2018-02-06 15:23] #35 closed

[2018-02-06 15:33] maechler commented on #35
I will have a look at this tomorrow and create a new release if everything is fine. Thanks @liayn and @macjohnny!

[2018-03-17 14:36] PeterSchuhmann opened #37 "posX and posY not working"
Hi,

great extension. thank you fort that.

I am having a little issue that the posX and posY attribute is being ignored for every element. I think I already found the issue. posX and posY gets set every time even the attribute for it exists:

[code]

This way a user can put information in the footer without creating a new template file. Is it possible for you to add this fix to your repo? thank y

[2018-03-17 14:37] PeterSchuhmann commented on #31
I think this solution only works if you have a static header and footer. but what if you want to add dynamic data like data from your model?

[2018-03-19 08:23] maechler commented on #37
Hi Peter,
That code looks strange indeed. I will try to have a look at it soon. Thanks for reporting that issue!
Maybe you can fix that issue in your code using an XCLASS until this is included in an official release.

[2018-03-19 08:52] maechler commented on #31
I think @macjohnny is proposing a feature similar to this:

[code]

It should be possible to define header and footer on document level. Probably there should also be the possibility to overwrite header and footer on page level and variables like `{currentPage}` should be provided. In this scenario you could use dynamic data from your model.
I am not sure however how this feature could be implemen

[2018-04-03 05:46] maechler opened #38 "Add option srgb mode"
$this->getPDF()->setSRGBmode()

[2018-04-03 06:55] maechler opened #39 "Add possibility to override config settings in Fluid template"
It should be possible to overwrite settings defined in `plugin.tx_pdfviewhelpers.settings.config` within the Fluid template. E.g.

[code]

or

[code]

[2018-04-06 06:29] #37 closed

[2018-04-06 06:30] maechler opened #40 "Add ViewHelpers to get posX and posY"
E.g. useful to position elements relative to current position

[2018-04-10 05:37] #40 closed

[2018-04-24 17:33] maechler opened #41 "FPDI importPage does not work with autoPageBreak=1"
The fix to this issue should at least be mentioned in the section trouble shooting. Probably we can also include a fix like this for `EmptyFPDI`:

[code]

It has to be tested whether this works if different pages are imported in one PDF or not. It should also be possible to not import the template anymore, if the `PageViewHelper` is used without the option `importPage`. That is not possible with t

[2018-04-24 20:23] maechler opened #42 "Add format to PageViewHelper"

[2018-04-27 06:13] maechler opened #43 "Allow TYPO3 paths for all used paths"
Allow paths that are prefixed with `EXT`, e.g. `EXT:pdfviewhelpers/somepath`

Use `GeneralUtility::getFileAbsFileName`

[2018-04-27 06:16] maechler opened #44 "Add automatic hyphenation to HTML text"
Add an option to use automatic hyphenation in `HtmlViewHelper`. The language needs to be configurable.

https://tcpdf.org/examples/example_046/
https://ctan.org/tex-archive/language/hyph-utf8/tex/generic/hyph-utf8/patterns/tex

[2018-05-04 06:18] #44 closed

[2018-05-04 17:54] #43 closed

[2018-05-04 18:08] #42 closed

[2018-05-04 19:04] #41 closed

[2018-05-14 09:09] maechler opened #45 "Move ExtensionManagementUtility::addStaticFile to Overrides/sys_template.php"
https://stackoverflow.com/questions/45605738/typo3-8-7-tca-ext-tables-php-check

[2018-05-14 12:59] maechler opened #46 "Check whether PDF content is being escaped for TYPO3 8 LTS"
Probably we have to add `protected $escapeChildren = false;` to AbstractPDFViewHelper in order to disable the unnecessary escaping of the PDF content.

[2018-05-15 10:44] maechler opened #47 "OutputDestination E and S not really working"
Related to https://github.com/bithost-gmbh/pdfviewhelpers/issues/46

[2018-05-17 13:35] #23 closed

[2018-05-17 13:36] #22 closed

[2018-05-17 20:01] objectcruncher opened #50 "Error in create PDF string"
Hi Markus and Estaban

Markus, do you remember me from Begasoft?

You two have done a cool modern extension to create PDFs, congratulations!

Unfortunately I found an error when creating a PDF String.

In method DocumentViewHelper::render() for outputDestination = "S", the call:
$this->getPDF()->Output($outputPath, $this->arguments['outputDestination']);
should store the result string and return i

[2018-05-18 05:45] maechler commented on #50
https://github.com/bithost-gmbh/pdfviewhelpers/blob/master/Classes/ViewHelpers/DocumentViewHelper.php#L156

[2018-05-18 05:49] maechler commented on #50
Hi Hanspeter

Hanspeter from the Java team?

Thanks for your error report! Actually that issue should be fixed since release `v1.5.1`, which I created just yesterday.

The following lines save the output and return it when `outputDestination="S"`:
https://github.com/bithost-gmbh/pdfviewhelpers/blob/master/Classes/ViewHelpers/DocumentViewHelper.php#L156
https://github.com/bithost-gmbh/pdfviewhelper

[2018-05-18 20:42] #21 closed

[2018-05-22 12:21] objectcruncher commented on #50
Hi Markus

Yes I was the guy from the Java team.

I tested the creation of a PDF String and it worked! Thank you!

Regards
Hanspeter

2018-05-18 7:49 GMT+02:00 Markus Mächler <notifications@github.com>:

--

**************************************************
Hanspeter Lutz
Sickingerstrasse 5
3014 Bern
M: +41 79 401 49 04

[2018-05-22 12:31] maechler commented on #50
Perfect! Thank you Hanspeter for reporting the issue and testing the newest version of `pdfviewhelpers`.

[2018-05-22 12:31] #50 closed

[2018-05-23 20:13] maechler opened #52 "Add support for FAL file objects"

[2018-05-29 09:52] benjaminhirsch opened #53 "List package on packagist.org"
Could you please list the package on packagist.org? This would make the handling alot easier and I don't have to use the "old" TYPO3-Repostiory (https://composer.typo3.org/) in my composer.json as an additional repostiory. ;)

[2018-05-29 10:34] maechler commented on #53
Sure! I just added the package: https://packagist.org/packages/bithost-gmbh/pdfviewhelpers

[2018-05-29 10:34] #53 closed

[2018-05-29 10:34] maechler opened #54 "Add Packagist auto update hook"
https://packagist.org/about#how-to-update-packages

Related to #53

[2018-05-29 11:10] maechler opened #55 "Add support for TYPO3 standalone Fluid"
https://packagist.org/packages/typo3fluid/fluid

TODO
[ ] How to handle TypoScript configuration?
[ ] How to handle TYPO3 API calls (e.g. GeneralUtility)?
[ ] Check and update composer dependencies
[ ] Write Functional Tests

[2018-05-29 18:58] maechler commented on #54
Done.

[2018-05-29 18:58] #54 closed

[2018-07-02 09:40] r3h6 opened #56 "PHP 7.2"
Compatibility with PHP 7.2

[2018-07-02 10:03] macjohnny commented on #56
@r3h6 thanks for opening this issue. could you please add some information about problems that currently occur with PHP 7.2?

[2018-07-02 11:39] maechler commented on #56
Probably nothing except the version constraint in `ext_emconf.php`?

[2018-07-02 12:52] r3h6 commented on #56
So far none, just version constraint in composer

[2018-07-02 14:45] maechler commented on #56
@r3h6 Actually there is no version constraint in the file composer.json:
https://github.com/bithost-gmbh/pdfviewhelpers/blob/e81149be696c52df3ae79de2226976636b414f08/composer.json#L19-L21

See also _requires_ on https://packagist.org/packages/bithost-gmbh/pdfviewhelpers#1.5.1

Is it possible that you use the TYPO3 composer repository (https://composer.typo3.org/) and that TYPO3 adds the PHP constr

[2018-07-02 15:06] r3h6 commented on #56
Version from packagist works fine, thanks

[2018-07-02 15:08] maechler commented on #56
I reopened this issue, because we will raise the version constraint in `ext_emconf.php` and probably also add the to `composer.json`.

[2018-07-02 15:46] #56 closed

[2018-07-17 16:55] Gernott opened #57 "Fontsize wrong in pdf:html"
Since version 1.5.2 the fontsize of text inside of <pdf:html> is too small.
Example code of my extension:
[code]
I need to change the fontsize from 9 to more than 20, to get the same size as with version 1.5.1 and older.

Perhaps this is an TCPDF issue?

[2018-07-18 08:32] macjohnny commented on #57
I had a quick look at the https://github.com/bithost-gmbh/pdfviewhelpers/compare/v1.5.1...v1.5.2 but there was no update of TCPDF.
Also, the HtmlViewHelper did not change, see https://github.com/bithost-gmbh/pdfviewhelpers/compare/v1.5.1...v1.5.2#diff-fa07fbdb277690316bd247f007ae133fR39

@Gernott can you spot a functional difference in the HtmlViewHelper?
Are you sure it works correctly with `1.5.

[2018-07-20 11:05] lars-s opened #58 "Can't add custom font"
Hello,

trying to use an imported custom font doesn't work. The view doesn't load and throws this error:

"TCPDF ERROR: Could not include font definition file: foo"

This is my configuration typoscript:

# PDFviewhelper settings
plugin.tx_pdfviewhelpers.settings.config.fonts {
    addTTFFont {
        foo {
            path = EXT:pdfviewhelpers/Resources/Public/Examples/FullFeatureShowCase/Roboto.

[2018-07-20 11:12] #58 closed, assigned to nobody

[2018-07-23 16:10] maechler commented on #57
I could not reproduce that issue, I tested your code with `1.5.1` and `1.5.2` and got exactly the same results.

@Gernott Have you found out something in the meantime? Is there any additional configuration, that could cause that error?

[2018-08-02 18:53] maechler commented on #57
@Gernott Any update on this?

[2018-08-03 16:36] Gernott commented on #57
I cannot reproduce the issue on my home PC and on my office PC.
I want to try it on my laptop in the next days. There appears the problem.

[2018-08-06 11:56] luberti opened #59 "TYPO3 9 support"
Hello, we are developing on TYPO3 9 for a mid term project that will be released after it will become LTS.  We need an extension to generate PDF files on the flay. I wanted to ask if you plan to support TYPO3 9 and if you have a timeline for that.

Thanks for  your answer and your work.

[2018-08-06 13:54] maechler commented on #59
Hi @luberti

We will definitely add support for `TYPO3 9`. At the earliest some time in September and at the latest a few weeks after `TYPO3 9 LTS` has been released. If you feel like already testing `pdfviewhelpers` on `TYPO3 9` and reporting issues or even contributing some code, that would be appreciated!

Kind regards
Markus

[2018-08-06 13:59] luberti commented on #59
Thank you for your answer. If we shoudl find issues we will certanly report them and if we can fix them by ourselves we will submit a pull request.
Cheers

[2018-08-06 14:00] maechler commented on #59
@luberti Perfect, thanks!

[2018-08-09 09:44] luberti commented on #59
Hi, we discovered an issues in your ext with regard to TYPO3 9.
Since you are using TCPDF PHP library for rendering, which does not support namespaces, you are forced to use require_once to import it and you have placed it inside DocumentViewHelper.php.
Unfortunately it got called to late for the buildClassSchema method inside TYPO3 9 build in ReflectionService class. As a consequence buildClassSc

[2018-08-10 07:07] maechler commented on #59
@luberti Thank you very much for this analysis!

As we will drop support for TYPO3 6 I think it should be possible to add the `autoload.classmap` configuration to our `composer.json` file. The same configuration we already used for `autoload-dev` (which then could be removed):
https://github.com/bithost-gmbh/pdfviewhelpers/blob/d0faa7c96641c6f811bd981850dac22e9299419d/composer.json#L36

I think th

[2018-08-10 10:27] luberti commented on #59
I will tall with my colleagues and let you know: unfortunately I'm going on holiday for a couple of weeks so this thing could be put on hold for a while , I will let you know as soon as I'm back.

[2018-08-10 10:59] maechler commented on #59
@luberti No worries, I think I will soon find the time to test this.

[2018-08-10 11:52] luberti commented on #59
Ok the first one that do the test will acknowledge the other.

Cheers

[2018-08-13 05:58] maechler commented on #59
@luberti I tested adding the `classmap` configuration to `composer.json`, it seems to properly register the classes with the autoloader for TYPO3 >= 7 LTS. This also seems to fix all the compatibility problems with TYPO3 9! I think I will soon create a new release supporting TYPO3 9.
Thanks for your analysis on that issue!

[2018-08-14 06:17] maechler commented on #59
@luberti I created a new release `v1.6.0` supporting TYPO3 9, it will soon be available in TER. Thanks again for your help on that!

[2018-08-14 06:17] #59 closed

[2018-08-14 06:17] #52 closed

[2018-08-24 07:05] maechler commented on #57
@Gernott Have you been able to reproduce this issue?
Otherwise I will close this issue and you could reopen it or create a new one if the error occurs again.

[2018-08-25 06:10] Gernott commented on #57
If possible, please give me 2 weeks more time. I'm on holiday until 2nd of september.

[2018-08-25 09:32] maechler commented on #57
Sure, no worries. Enjoy your holidays!

[2018-08-28 05:45] maechler opened #62 "Add width to ColumnViewHelper"

[2018-09-01 10:55] maechler commented on #31
I started progress on this one and created a working example: https://github.com/bithost-gmbh/pdfviewhelpers/commit/bb942c39dbae862d1ca2d6c4aca36ed952cae919
https://github.com/bithost-gmbh/pdfviewhelpers/tree/feature/headerFooterSupport

It seems to be easier than expected, although it still needs some effort until it is ready to be used.

[2018-09-06 04:26] Gernott commented on #57
I'm sorry, I cannot reproduce it anymore. I tried a lot of things, but it works perfect. If I find this case again, I write a new ticket with more details.

[2018-09-06 04:26] #57 closed

[2018-09-06 19:27] maechler commented on #31
This is implemented and tested in the current `develop` branch and will be released as part of `pdfviewhelpers` `v2`.

[2018-09-06 19:27] #31 closed

[2018-09-07 18:28] maechler commented on #39
Unfortunately this is not very easy to implement. Fluid initialises all child ViewHelper arguments (using `initializeArguments`) before it calls `initialize` on the top most ViewHelper. But only in the method `initialize` we get acccess to the ViewHelper arguments that enable us to overwrite the settings. Thus all ViewHelper arguments of the children are already initialized with their correspondin

[2018-09-07 20:50] maechler commented on #25
Implemented in the current `develop` branch.

[2018-09-07 20:50] #25 closed

[2018-09-08 19:34] #62 closed

[2018-09-10 06:51] maechler opened #75 "Add a template and TypoScript configuration for an integration with EXT:news"

[2018-09-11 06:12] maechler commented on #59
@luberti We are currently working on `v2.0` of `pdfviewhelpers`, you might consider to already use the current code from the `develop` branch. It is pretty stable, there are only a few features missing at this point. It will probably be released in September. The new version contains a lot of new features, cleanup, performance improvement and also some bugfixes.
One of the key features is that it

[2018-09-13 10:34] maechler commented on #11
Implemented types.

[2018-09-13 10:34] #11 closed

[2018-09-15 07:11] maechler commented on #39
Implemented as suggested.

[2018-09-15 07:11] #39 closed

[2018-09-17 16:13] maechler commented on #59
@luberti

Fortunately the developer of `TCPDF` still tries to make the library compatible with the newest PHP versions:

https://github.com/tecnickcom/TCPDF/blob/1861e33fe05f653b67d070f7c106463e7a5c26ed/CHANGELOG.TXT#L4-L5

We will update `TCPDF` before the next release of `pdfviewhelpers`.

[2018-09-21 04:37] maechler commented on #75
Implemented.

[2018-09-21 04:37] #75 closed

[2018-10-04 09:18] maechler commented on #31
@Gernott I just released `pdfviewhelpers` `v2`, it contains header and footer ViewHelpers and lots of other features. If you still feel like sponsoring, a contribution would be very welcome!
See https://github.com/bithost-gmbh/pdfviewhelpers#support-development

[2018-10-17 13:01] AureliusHogan opened #97 "No content in outputPath!"
I upgraded from version 1.x to version 2.0 and did all of the upgrading changes.
[code]
This statement leads to a registration.pdf equal template.pdf. If I use **outputDestination="inline"** the result has the content of template.pdf **inlcuding** all pdf:text statements I've set.

Why does registration.pdf don't carry any content? What could be missing?

[2018-10-17 15:28] maechler commented on #97
If you use `outputDestination="inline"` then it is only returned inline to the browser, but not saved to the filesystem. If you want to save it to the filesystem you should use `outputDestination="file"` or outputDestination="file-inline" to save it AND return it to the browser.
Please see: https://docs.typo3.org/typo3cms/extensions/pdfviewhelpers/ConfigurationReference/TypoScriptReference/Index.h

[2018-10-17 16:28] AureliusHogan commented on #97
No that doesn't change anything. Thx. for the fast reply.

It's not that the file is not generated. The problem is that the content inside of the document is not generated. If I use "file-inline" the document shown is correct but the document saved is without content.

[2018-10-17 17:00] maechler commented on #97
@AureliusHogan Currently I can not reproduce that issue. It seems strange to me, that the document that is returned inline, has different content than the file that is saved, because `TCPDF` actually reads the saved file to return it's content. See:

https://github.com/bithost-gmbh/pdfviewhelpers/blob/16473677eee6ff261c6ebe80bc57c7ffd0181ef9/Resources/Private/PHP/tcpdf/tcpdf.php#L7674-L7679

and

[2018-10-17 17:36] AureliusHogan commented on #97
Yes, I just now noticed, that Adobe Acrobat says the document has an error. So I tried to validate it as you mention in your documentation. The result is:
![image](https://user-images.githubusercontent.com/30202934/47105257-b5d3d280-d243-11e8-9f1d-2ac1e9634498.png)

Now the question is, how to find the problem? The code I use is rather simple:
[code]

[2018-10-17 18:13] maechler commented on #97
There seems to be an issue with the `renderHeader` and `renderFooter` methods in `BasePDF`. You could try to provide your own class and overwrite these methods:

[code]

[code]

As long as you do not need the header and footer ViewHelpers, this should work. I will investigate that issue. Thanks again for reporting!

[2018-10-18 15:57] maechler commented on #97
@AureliusHogan I just released a new version `v2.0.1` that should fix that issue. It would be nice if you could update the extension, remove the fix from yesterday and test whether this works for you.

If you like the project, please consider giving it a star :)

[2018-10-18 19:49] AureliusHogan commented on #97
Yes, now everything is fine. And it seems like it is a little faster even.
Good job!
Perfekt support!

[2018-10-18 19:49] #97 closed

[2018-10-19 05:33] maechler commented on #97
Perfect, thanks for reporting and testing!

[2018-11-30 13:19] liayn opened #99 "Error "Imported page does not exist""
This error occurs using latest version from TER 2.0.1 when using `sourceFile` and `importPage` and when a PDF is created containing multiple pages. This issue is probably related to #41.

One problem is that there is broken code in
https://github.com/bithost-gmbh/pdfviewhelpers/blob/master/Classes/Model/BasePDF.php#L199

`$this->tpl` is never defined. A strict comparison against `0` is always `tru

[2018-11-30 13:37] maechler commented on #99
@liayn Thanks for reporting! Maybe `$this->tpl` has been renamed to `$this->templateId` in FPDI v2. But it could also be that more things changed, I will test this as soon as possible.

[2018-11-30 13:44] liayn commented on #99
I pushed a very dirty workaround, which fulfills at least our current needs

[2018-12-01 17:37] #99 closed

[2018-12-01 17:39] maechler commented on #99
I actually think that it is a good fix for that issue. I had a closer look at FPDI, there is no way to determine the most recently used template anymore, thus we have to keep that information in our own class.

However I changed the implementation to not rely on an additional method, because I think this is less error-prone. I also added functional tests covering that issue.

https://github.com/bi

[2018-12-12 08:49] maechler opened #103 "Add support for TOC (table of contents)"
See https://tcpdf.org/examples/example_045/

Add ViewHelpers for `Bookmark` and `TOCPage` and add a `bookmark` attribute to all textual ViewHelpers. For `HeadlineViewHelper` the bookmark option should be activated by default.

[2018-12-12 08:55] maechler opened #104 "Add image processing to ImageViewHelper"
See `TYPO3\CMS\Extbase\Service\ImageService`.

[2019-01-17 20:01] chnshure opened #105 "otf format"
Hey,

in the documentation of TCPDF you can see that it also supports otf fonts.
Is it somehow possible to add this type to a document?
Tried via type= OpenType but this didn't work (as it is in your documentation).

Greetings

[2019-01-18 07:16] maechler commented on #105
Yes, `TCPDF` should support `OTF` fonts, but I just came across this line of code in `TCPDF`:

[code]

So maybe you have an `OpenType` font with `CFF` data? That would not be supported by `TCPDF`.

A couple of things you could try:
- Do not provide the `type` option and let `TCPDF` guess the font format. Like this you could check whether the condition above is met or not.
- Try to use the `Roboto`

[2019-01-18 07:54] maechler commented on #105
I just reopen the issue in order to add a note about this to the documentation. If you find a way to solve your issue, it would be nice if you would share your solution.
If you like the project, please consider giving it a star :)

[2019-02-14 11:12] foobar13372 opened #106 "How to overwrite News-Template?"
I wanted to use the pre-shipped ext:news configuration, but overwrite the template. In my static site template (loaded after pdfviewhelpers) I put

[code]

The key `test` is arriving, but the `templateRootPaths` is not -- it's always the one from your template, even though the load order is correct. If I remove your template from the static includes, my template path is correctly set (but the whol

[2019-02-14 11:19] macjohnny commented on #106
@foobar13372 are you sure your template is included *after* the pdf view helpers static template?
https://github.com/bithost-gmbh/pdfviewhelpers/blob/0b253e6b833817e112181d250ecf919a4b7bd05b/Configuration/TypoScript/Extensions/News/setup.txt#L24-L31

[2019-02-14 11:26] foobar13372 commented on #106
Ah, forget it, the moment I submitted the issue, I realized that I wrote it in the wrong static file with a similar name... (which is loaded in a higher tree level). Now everythign works. Thanks anyways. :)

[2019-02-14 11:26] #106 closed

[2019-04-11 17:06] maechler commented on #104
Solved with https://github.com/bithost-gmbh/pdfviewhelpers/pull/110

[2019-04-11 17:06] #104 closed

[2019-04-12 06:03] medarob opened #113 "[Bug] Can't install extension over TER"
Hi,

I tried to download and install the extension in the TYPO3 backend (TER) but this didn't work.
I had to manually download the ZIP file and upload the extension.

Other extensions work, if I want to install those in the backend.

Can this be verified? Is this a bug?

[2019-04-12 06:28] maechler commented on #113
Hi @medarob

Thanks for reporting! I just tested installing the extension via TER on a fresh site and everything, including the examples, just worked fine.

What is the exact error you get?
Does the error still occur if you remove the extension and try to reinstall?
Could it just have been a network error?

[2019-04-12 07:04] medarob commented on #113
There is no error.
The orange status bar on top is loading, but after 20-30% it stops and the status bar is gone and no extension was installed. I tried another extension and that worked fine.

I deinstalled the extension, tried to download it again via the Extension Manager but the same error appears. I had to install it manually.

I tried to install the extension on my DEV system.

[2019-04-12 07:09] macjohnny commented on #113
@medarob which typo3 version are you using?
could you set the php-loglevel to info and paste an excerpt from the php log?

[2019-04-12 07:13] maechler commented on #113
@medarob Are there any errors in the server PHP error log or the TYPO3 protocol?

The extension `pdfviewhelpers` is about `23.3MB` in size, which is quite large compared to other extensions. That is because `TCPDF` is included in the extension itself in order to allow an easy installation over TER. Maybe that is what is causing the error.

[2019-04-12 07:22] medarob opened #114 "[Feature] use multiple fluid templates for different EXT:news pdfs"
Hi,

not really an issue but maybe feature, if not already possible:
I have the news extensions installed and using it for normal news and also job descriptions. And maybe there are other use cases for the news extensions...
Now I want the news pdfs look different than the job pdfs.

Is that possible somehow?
Do I have to use different page types for different news pdfs?

Thank you

[2019-04-12 07:28] medarob commented on #113
Thank you for the help.

Our admin said there was no error in the server apache log... also the TYPO3 protocol does not show any sign of an error.

[2019-04-12 08:00] maechler commented on #114
Using a separate page type for each PDF could be one solution. But then you need to make sure that you also include the setup from `Configuration/TypoScript/Extensions/News/setup.txt` for that page type.

Another way could probably be to add a GET parameter `pdf_type=2` and then use a TypoScript condition to set the template path:

[code]

Or you could even do it in the Fluid template:

[code]

Ea

[2019-04-12 08:03] maechler commented on #113
It would be nice if you could try to set the PHP log level to info and show an excerpt from the PHP log as @macjohnny suggested. If there is a problem with the size of the extension or something else, we would really like to add a note about this to the trouble shooting section in the documentation.

Can you reproduce this issue locally on your computer?

[2019-04-12 08:24] medarob commented on #113
Ok, this is probably the info you are looking for? (I only changed the IP and the Domain.

[Fri Apr 12 08:57:28.291620 2019] [php7:error] [pid 12808] [client xx.xx.xx.xx:xxxxx] PHP Fatal error:  Allowed memory size of 134217728 bytes exhausted (tried to allocate 42338112 bytes) in /var/www/staging/typo3_src-8.7.24/typo3/sysext/extensionmanager/Classes/Utility/Connection/TerUtility.php on line 128,

[2019-04-12 08:29] maechler commented on #113
Yes, it looks like the error we are looking for! =)
Can you try to increase the memory limit and try it again?

[code]

[2019-04-12 08:59] medarob commented on #114
Thank you, I will try this approach :)

[2019-04-12 09:00] #114 closed

[2019-04-12 09:10] medarob commented on #113
After changing the memory_limit the installation worked :)

[2019-04-12 09:12] maechler commented on #113
@medarob Perfect, thanks! I will add a note about this to the trouble shooting section.

If you like the extension, please consider giving it a star :)

[2019-04-12 09:14] medarob commented on #113
You mean here?
![grafik](https://user-images.githubusercontent.com/33951787/56026306-2439af00-5d14-11e9-822d-7351a2daba03.png)

[2019-04-12 09:17] maechler commented on #113
I meant on GitHub (on the right when you scroll to the top of this page), but also a "heart" would be very appreciated! =)

[2019-04-12 09:56] medarob opened #115 "HTML rendering of lists / only limited HTML support?"
Hi,

I just tested the html rendering but it does not work.
I have a `<ul>`-list and want that list to be devided into 2 equal parts (left and right). Therefor I wanted to use the CSS property "column-count" ( https://css-tricks.com/almanac/properties/c/column-count/ ). But this does not work. I get only one single list in the pdf.

[code]
Is the html-support somehow limited?

[2019-04-12 10:03] macjohnny commented on #115
css support is very limited in TCPDF, see e.g. http://www.jennybeaumont.com/testing-tcpdf-css/
so this isn't something we could solve in `pdfviewhelpers`

[2019-04-12 10:03] #115 closed

[2019-04-12 10:39] maechler commented on #115
If you are looking for and advanced HTML to PDF rendering, you might want to have a look at `mPDF`:

https://github.com/mpdf/mpdf
https://extensions.typo3.org/extension/mpdf/

[2019-04-30 11:55] #103 closed

[2019-04-30 11:55] #105 closed

[2019-04-30 11:55] #113 closed

[2019-06-03 09:12] maechler opened #124 "Migrate documentation"
Since May 29th 2019 a new infrastructure is in place at docs.typo3.org. This requires some migration tasks, in order to keep extension documentation rendering at docs.typo3.org

https://docs.typo3.org/m/typo3/docs-how-to-document/master/en-us/WritingDocForExtension/Migrate.html#migrate

[2019-06-06 13:59] antonfries opened #125 "Using SCSS as stylesheet"
Hey,

is there a possibility to include already written scss-files into pdf-html-tags with the property "stylesheet" or similar?

We are generating a product datasheet and have already our custom fonts and scss classes for a fancy table and would output that on a pdf view. Is there maybe a more suitable extension for that?

Greetings, Anton

[2019-06-06 15:07] macjohnny commented on #125
css support in tcpdf is very limited, see https://github.com/bithost-gmbh/pdfviewhelpers/issues/115#issuecomment-482517365

[2019-06-06 16:23] maechler commented on #125
You could easily write your own ViewHelper that uses `scssphp` to compile your Sass files to CSS. Here is a quick and dirty example:

[code]

[code]

But if you have a really complex layout than I would recommend having a look at `mPDF` as its `HTML` / `CSS` support is far better:
https://github.com/mpdf/mpdf
https://extensions.typo3.org/extension/mpdf/

Or else write a custom ViewHelper that uses

[2019-06-09 15:06] maechler commented on #125
@antonfries Did you come up with a solution for your problem?

[2019-06-11 09:19] antonfries commented on #125
@maechler Ye, we came up with the decision to use the mpdf-Extension for TYPO3, because we don't need the diversity of pdf viewhelpers for our usage.

Thanks for your support!

[2019-06-11 09:19] #125 closed

[2019-08-15 07:24] co-operate opened #126 "Add RouteEnhancers example to documentation"
Struggling with getting the type parameter to show up in URLs in TYPO3 v9.5

[2019-08-15 08:38] maechler commented on #126
@co-operate Could you please tell us more about your specific use case?
The page type parameter is not needed in most cases.

If you wanted to be able to render each page also as PDF, I guess you could do something like this (not tested!):

[code]

[2019-08-15 17:48] maechler commented on #126
@co-operate If you found a solution to your problem, please let us know, so we can add it to the documentation.

[2019-08-23 09:34] medarob opened #127 "generated font files in pdfviewhelpers/Resources/Private/PHP/tcpdf/fonts missing"
Hi,

maybe someone can help because right now we get the following error message
TCPDF ERROR: Could not include font definition file: "roboto"

I noticed that various files are missing in this folder:
/var/www/test/web/typo3conf/ext/pdfviewhelpers/Resources/Private/PHP/tcpdf/fonts

for example:
![grafik](https://user-images.githubusercontent.com/33951787/63582185-e5a4e280-c598-11e9-8024-6f3455f9a4

[2019-08-23 09:37] macjohnny commented on #127
the fonts should be there when installing `pdfviewhelpers`, see https://github.com/bithost-gmbh/pdfviewhelpers/tree/master/Resources/Private/PHP/tcpdf/fonts

it seems strange. can you uninstall and re-install the extension again?

[2019-08-23 09:40] medarob commented on #127
That is correct. Those fonts are inside the folder.

But we use custom fonts like Roboto and some others and the files for those fonts are missing. So, I wonder if those files were auto-generated by tcpdf?

[2019-08-23 09:52] medarob commented on #127
I just tested it on our DEV environment and there the files are auto-generated inside the `tcpdf/fonts` folder. But it's not working on the production environment so it seems like a permission problem? I had hoped that someone knows which permissions are needed in order to make it work.

The error message in the backend is this:

[code]

[2019-08-23 18:59] maechler commented on #127
@medarob Could you check the permissions on the fonts folder on DEV and PROD?
[code]

Although I am a bit confused. At first you said the files were missing, but the error message clearly reads `Permission denied`, which suggests that the files have been auto generated. Maybe you checked the fonts folder before the very first time that `pdfviewhelpers` ran on PROD?

Maybe the files were somehow cr

[2019-08-23 19:01] maechler commented on #126
@co-operate Any update on this?

[2019-08-23 19:55] co-operate commented on #126
Did not even take another look at this. It’s  on the agenda, but probably not for another couple of weeks.

[2019-08-26 07:17] medarob commented on #127
I checked the permission for the fonts folder:

on DEV/STAGING: `drwxr-sr-x 7 apache apache   8192 Aug 23 11:41 fonts`
on PROD: `drwxr-sr-x. 7 apache apache   8192 Aug 23 14:22 fonts`

It seems like the only difference is the `.` behind the `x`. On another website I found this as explanation: `The dot after file permissions in 'ls' long output denotes that the file in question has a SELinux securi

[2019-08-26 10:52] maechler commented on #127
Composer should not have an impact on the permissions if you do not run it on PROD.  But SELinux could definitely have something to do with it, as it extends the default `user`, `group` and `other` permissions with more fine grained permissions.

Is it possible that SELinux permissions changed at the same time you switched from TER to composer?
Can you test whether the TER version still works on y

[2019-08-26 11:30] medarob commented on #127
Auto-generating the files still works on the TER version.

The SELinux directory context seems different.
I also noticed that a `write` persmission was missing in comparision to a test instance on our prod server but this permission is also missing on our dev server where it works. I added the permission and it works now BUT if I remove the permission it still works... so, it seems now it works an

[2019-08-26 11:38] maechler opened #128 "Write auto generated font files to typo3temp"
Auto generated font files should be written to `typo3temp` in order to keep `typo3conf/ext` clean and to avoid possible write permission issues.

[2019-08-26 11:42] maechler commented on #127
Sometimes things can not be explained 😅 I will close this issue as it does not seem to have something to do with `pdfviewhelpers` in particular.

Although I just created a follow up issue, that would help to keep `typo3conf/ext` clean and probably would also have prevented your issues: https://github.com/bithost-gmbh/pdfviewhelpers/issues/128

[2019-08-26 11:42] #127 closed

[2019-10-02 11:25] co-operate commented on #126
@maechler: Thank you for your help, your answer is completely correct, of course! For the EXT:news integration (as per the example in the manual) you'll simply want to change the page type mappig to something like

[code]

Sorry for the late reply. Holidays and other chores ;-)

[2019-10-02 11:25] #126 closed

[2019-10-02 11:36] maechler commented on #126
@co-operate Thanks for coming back to this issue. Your are absolutely right, it should of course be `28032013 ` as page type!

Did you use `pdfviewhelpers` to create a PDF version of each page?
I was thinking about adding something about this to the documentation for a while now, if you had a good example it would be nice if you could share some of your code.

[2019-10-18 13:53] bahneclaussen opened #129 "Images in Footer"
When i insert and pdf:image in pdf:footer the rendering crashes

[2019-10-18 14:18] maechler commented on #129
@bahneclaussen I just tested this with our Example from the README, everything seems to work fine with images in the footer. I guess it is a specific problem with your image or setup in general.

Are there any errors in the PHP error log or the TYPO3 system log?
Could you please share your template?

**output**

![image](https://user-images.githubusercontent.com/4113819/67101737-7d523600-f1c2-11e9

[2019-10-18 14:27] bahneclaussen commented on #129
Hey,
i have a multisite PDF.

Code is:

`<pdf:footer>
            <pdf:text alignment="left" color="{color}" paragraphSpacing="0" posX="14" fontSize="8">{pdf:getPageNumberAlias()} / {pdf:getTotalNumberOfPagesAlias()}   © HOBBY-WOHNWAGENWERK, ING. HARALD STRIEWSKI GMBH</pdf:text>
            <pdf:image src="EXT:nc_hobby_vehicles/Resources/Public/Images/Pdf/hobby-logo.png" width="20"/>
        </pdf

[2019-10-18 14:47] maechler commented on #129
Thanks for sharing your template. Indeed, there seems to be a problem on multisite PDFs, but only with images in the footer, the header is not affected.

To me it looks like a bug within TCPDF with PNGs that have an alpha channel, but strangely enough not on all pages. I will have to further investigate this issue.

To work around this you could try to already pre scale your image the the desired

[2019-10-18 14:49] bahneclaussen commented on #129
Hey,

Scaling has no effects :)

Thank you for support!

Greetings
Bahne Claussen
Senior Entwickler

Telefon	 0431 90607-0 <tel:0431 90607-0>
E-Mail	 claussen@new-communication.de <mailto:claussen@new-communication.de>

 <https://www.new-communication.de/>

New Communication GmbH & Co. KG
Werbe- und Marketingagentur
Jägersberg 23  |  24103 Kiel
www.new-communication.de <https://www.new-communicati

[2019-10-18 15:02] maechler commented on #129
Rescaling the image worked for me, although the image resolution then is not sufficient anymore. You could also try converting the image to a jpeg or gif. Although I am experiencing orientation issues with these formats, even if I remove EXIF from the images.

[2019-10-18 15:12] maechler commented on #129
Another way to workaround this could be to prepare a PDF that only contains the footer. You could do this with word or any other tool and then use this PDF as a template, see https://docs.typo3.org/typo3cms/extensions/pdfviewhelpers/2.1.0/Examples/ExtendExistingPDFs/Index.html.

[code]

[2019-10-21 08:01] bahneclaussen commented on #129
If I remove the scaling from the image, it looks the same on all pages up to the last page. Unfortunately I can't use it like this.

[2019-10-21 08:59] maechler commented on #129
You could probably also pre scale the image using processing instructions:

`<pdf:image src="EXT:nc_hobby_vehicles/Resources/Public/Images/Pdf/hobby-logo.png" processingInstructions="{width: '60'}" />`

Alternatively you could try converting the image to different image formats like jpg or gif. Or create a template PDF containing only the footer as described in https://github.com/bithost-gmbh/pdfv

[2019-10-23 21:35] #128 closed

[2019-10-23 21:35] #129 closed

[2019-10-23 21:47] maechler commented on #129
@bahneclaussen I think I found the underlying issue in TCPDF. There is an issue in the footer if the option `fitonpage` is set for an image: https://github.com/tecnickcom/TCPDF/pull/147

The error should be fixed in `pdfviewhelpers` `v2.2.0`, which is available in TER now. Could you please update the extension and test if this fixes your issue?

If you like the project, please consider giving it a

[2019-10-23 22:10] maechler opened #131 "Breaking changes for pdfviewhelpers v3"
This issue is used to keep track of upcoming breaking changes that probably will be made in `pdfviewhelpers` `v3`.

- [ ] Change default of `image.fitOnPage` to `false`
- [ ] Drop support for PHP < 7 and add type hints to all functions

[2019-10-24 13:46] mediaessenz opened #132 "Image added in Footer is three times to small"
I'm using v2.2 of your extension and just realized that a png image added in a pdf:footer section get a smaller size (1/3) as a image with the same size I added in a pdf:header section.
Event setting the size to 100, 200 or 300% hat no effect.

[2019-10-24 13:52] mediaessenz commented on #132
I fixed the problem by change the footer.posY from -10 to -40

[2019-10-24 13:56] mediaessenz commented on #132
A really cool extension BTW. I <3 it!

The possibility to change the name of a generated pdf would be a really cool thing.

[2019-10-24 15:04] maechler commented on #132
@mediaessenz

The problem you are describing is most likely due to the option `fitOnPage` being set on your image. Which leads to an automatic rescaling when the image does not fit into the footer space.
You can deactivate this feature by setting it to false:

[code]

or globally for all image ViewHelpers:

[code]

You can change the name of the generated PDF file by setting `outputPath` to a diff

[2019-10-25 10:00] maechler commented on #132
@mediaessenz Could you solve your footer and file name issue?

[2019-10-25 10:11] maechler opened #133 "Drop support for PHP < 7 and add type hints to all functions"

[2019-10-25 10:11] maechler opened #134 "Change default of image.fitOnPage to false"

[2019-10-25 10:11] maechler commented on #131
Will be documented in separate issues labelled as `breaking`.

[2019-10-25 10:11] #131 closed

[2019-10-25 11:43] mediaessenz commented on #132
Yes :-)

[2019-10-25 11:44] #132 closed

[2019-10-28 06:42] maechler commented on #129
@bahneclaussen Could you verify that `v2.2.0` solves your issue?

[2019-10-29 11:22] quak opened #135 "Bmp & Jpeg Image Extensions"
It seams that it isn't possible to use the image file extensions bmp & jpeg
I added the two image extensions to allowedImageTypes - i still get a error
![Screenshot 2019-10-29 at 12 21 58](https://user-images.githubusercontent.com/169361/67762904-c3bb5680-fa46-11e9-82a2-99d17b1b860d.png)

[2019-10-29 11:25] macjohnny commented on #135
could you please give more details about your code?

[2019-10-29 11:53] maechler commented on #135
@quak Using `JPEG` should definitely not be an issue, as you can see in your example here: https://docs.typo3.org/typo3cms/extensions/pdfviewhelpers/stable/Examples/BasicUsage/Index.html

[code]

I suspect that you have an error in your path, could you please share your template?

[2019-10-30 12:25] mediaessenz opened #136 "processingInstructions crop and cropVariant will be ignored"
I seems, that the process instruction properties "crop" and "cropVariant" will be ignored completely.

I try to do something like this:
[code]
Independent of any cropping inside the added images, they get not cropped.
If I add this debug output to the upper code right after the pdf:image:
[code]
I get the correct settings array, which looks like this:
[code]

[2019-10-30 13:25] mediaessenz commented on #136
After doing some research, I think the problem is the applyProcessingInstructions call inside the pdf:image viewhelper.
I think the overhanded processing instructions especial crop and cropVariant have to be transformed before they will work.
The call of this method ends in the process method of the LocalCropScaleMaskHelper class, which does somethink like this if a crop configuration is found:
[c

[2019-10-30 13:38] maechler commented on #136
@mediaessenz You are absolutely right. I have to admit I never really tested crop variants and I thought that the image service will take care of it, but it does not.

A workaround would be to select the corresponding crop area yourself and pass it as `crop` attribute to the `processingInstructions`. The following could should show you a working example:

[code]

You probably just have to replace

[2019-10-30 21:50] mediaessenz commented on #135
adding Type "jpeg"(with the e) in the default settings would be nice, btw.

[2019-10-30 21:57] maechler commented on #135
@mediaessenz True, I just added it: https://github.com/bithost-gmbh/pdfviewhelpers/commit/4a709c301a45b48e4f1d61f87ad0ff477992d09c

[2019-11-04 08:32] maechler commented on #135
@quak Could you solve the issue?

[2019-11-04 09:26] quak commented on #135
@maechler thanks for your advice - i solved it for jpeg but not for bmp
I also added the both image types in the default settings but it just wont work for bmp
Guess i will just exclude bmp from the upload setting of my extension.

[2019-11-04 09:26] #135 closed

[2019-11-04 09:32] maechler commented on #135
@quak Thanks for your reply! Under the hood `pdfviewhelpers` uses `TCPDF`, which in turn should support all image formats that are supported with GD or ImageMagick:

[code]

If `bmp` is not working, I guess there is a problem with your graphics library installed on the server.

If you like the extension, please consider giving it a star on GitHub =)

[2019-11-04 09:33] quak commented on #135
yeah i know - if i will have some spare time i will investigate what went wrong and will post it here :)

[2019-11-06 11:20] liayn opened #137 "Font file path is not configured correctly for tcpdf"
`\TCPDF_FONTS::_getfontpath` assumes the font path to be set via `K_PATH_FONTS` or falls back to the location of the TCPDF libarary location.

`BasePDF` class must set this constant accordingly.

The function is used indirectly within `\TCPDF::AddFont`.

The big problem is that you can't use custom fonts together with default fonts as this constant can only hold 1 path.

[2019-11-06 12:26] maechler commented on #137
I think I did not yet understand the issue, but I try to explain what I believe is the current behaviour.

The path `plugin.tx_pdfviewhelpers.settings.fonts.outputPath` specifies where automatically generated font files from TCPDF will be stored. This is only true for custom fonts, fonts that are shipped with TCPDF reside within `Resources/Private/PHP/tcpdf/fonts` (= `K_PATH_FONTS ` by default).

[2019-11-06 12:38] schugabe commented on #137
We have a class CustomPdf that extends \Bithost\Pdfviewhelpers\Model\BasePDF and added two custom fonts:

[code]

In the CustomPdf we create a header:

[code]

The writeHTMLCell tries to load the bold variant of the font but cannot find it since it searches in the K_PATH_FONTS path and not the custom path. This was working in version 2.1.0 and if you change the font path back to the folder in the

[2019-11-06 13:11] maechler commented on #137
I see, there is an issue with `writeHTML`. So as a workaround you could simply set `plugin.tx_pdfviewhelpers.settings.fonts.outputPath = EXT:pdfviewhelpers/Resources/Private/PHP/tcpdf/fonts`.

After a short analysis I think we would have to add:

[code]

In order to make it work with the HTML ViewHelper.

[2019-11-06 13:35] maechler commented on #137
BTW..wouldn't it be possible for you to use the `HeaderViewHelper`?

[code]

[2019-11-07 08:12] liayn commented on #137
Unless you have a bit more stuff going on than what is posted above. :)

[2019-11-07 08:25] schugabe commented on #137
I added the suggested fix and it prevents the exception :+1:

[2019-11-07 10:09] maechler commented on #137
That's true of course :)

[2019-11-07 10:10] maechler commented on #137
Perfect, thanks for reporting and testing! I will create a new release today.

[2019-11-07 11:13] #137 closed

[2019-11-07 11:22] maechler commented on #137
I just released `v2.2.1` which includes the fix mentioned.

[2019-11-08 10:49] grempa opened #139 "Lack of information"
I miss one big feature.

Add possibility to import whole sourceFile and not just a single page.
Maybe something like: `<pdf:page importPage="all" ...>...</pdf:page>`

This would become really useful, as i want to have a base pdf which is then added some pages to.

[2019-11-08 12:20] maechler commented on #139
This is currently not possible, but a workaround could be to use a for loop like this:

[code]

If we add such a feature, it would probably also be helpful to be able to provide more than one `sourceFile`. We could reuse the `PageViewHelper` or create a new one:

[code]

We would probably also have to account for different page sizes in the source PDF.

[2019-11-08 12:28] maechler opened #140 "Add an mPDF ViewHelper"
For extended HTML Support we could try to add an `mPDF` ViewHelper and then combine the created `PDF` using `FPDI`.  We have to take care that headers und footers still work and it would be great if we could just add content before and after the `mPDFViewHelper` without a page break being necessary.

[2019-12-04 10:04] MK-42 opened #141 "Custom fonts not working inside of AvoidPageBreakViewHelper"
Cloning the BasePDF instance in AvoidPageBreakViewHelper drops all custom fonts paths, so no custom fonts can be used in that context.

[2019-12-04 14:12] maechler commented on #141
@MK-42 Thanks again for that high class pull request! I just released a new version `v2.2.2`, which contains your fix and uploaded it to TER.

If you like the project, please consider giving it a star on GitHub =)

[2019-12-04 14:12] #141 closed

[2019-12-11 10:15] derhansen commented on #136
Just for the records (and not related to `processingInstructions`, but to cropVariants). When using the `pdf:html` ViewHelper, it is possible to use the plain Fluid Image ViewHelper to render the crop variant of an image.

[code]

[2020-01-29 06:16] josefglatz opened #144 "Add extension icon support for helhum/secure-web"

[2020-01-29 12:27] #144 closed

[2020-04-09 16:17] SirZockholm opened #146 "Could not find Font definition file"
As soon as I try to set a Font on a pdf:text field via parameter I recieve this error when generating the PDF in frontend.
I even tried to open the roboto-font from the example with the same outcome.
My guess is that it's not creating the .php file (or at least not in the right folder)

Or did I do something wrong?

In EXT:referenzen/Configuration/TypoScript**setup.typoscript**
`plugin.tx_pdfviewh

[2020-04-10 08:37] maechler commented on #146
@SirZockholm Could you please show the exact error message (including the file and line of code)? Which version of `pdfviewhelpers` are you using?

For `v2.2.0` and higher the font files should be written to `typo3temp/pdfviewhelpers/fonts/`, could you please check whether this folder exists and is writable / readable? Are the font files even generated?

For lower versions the font files would be

[2020-04-12 15:43] SirZockholm commented on #146
Hi @maechler

Basically the title is the error-message `TCPDF ERROR: Could not include font definition file: roboto` when wanting to generate the PDF. Doesn't say on wich line or file.

Your latest entry in the changelog states v2.2.2.

The folder `typo3temp/pdfviewhelpers/fonts/` exist but no files are generated. It seems to be writable since I'm able to create files and folders in there via term

[2020-04-12 18:12] maechler commented on #146
You should check the folder permissions using `ls -al typo3temp/pdfviewhelpers/fonts`. Additionally you should check with what user you tested the file creating using the command `whoami`. It is likely that the webserver user is different from the user you are using via terminal.

[2020-04-13 09:05] SirZockholm commented on #146
Hi @maechler
The folder permissions are `drwxr-xr-x`, user who created the file is the same as I use in terminal.
The site is currently on my development environment hosted locally.
I changed the folder permissions to 777 for testing but nothing changed.

[2020-04-13 09:43] maechler commented on #146
Did you change the permissions only for the `fonts` folder or for the entire folder hierarchy? I think you would have to change the permissions recursively `chmod -R 777 typo3temp` to see whether it is a permissions issue.
Do you have the possibility to test this with a fresh TYPO3 installation with nothing installed except `EXT:pdfviewhelpers`?

Else It would be helpful if you could start debuggi

[2020-04-14 06:36] SirZockholm commented on #146
Hi @maechler
We had no luck with opening a fresh typo3 installation. Same problem at same point.

The echos you've sent me won't display. I also noticed your if at the beginning of the function:
`if (empty($this->settings['config']['fonts']['addTTFFont'])) { return; } `
Which is always true. Although I fill this array in
`EXT:referenzen/Configuration/TypoScript/setup.typoscript`

[2020-04-14 08:33] maechler commented on #146
Can you verify that your `setup.typoscript` is really included using the `Template` module and the `TypoScript Object Browser`?
Does everything work if you do not add a custom font?
Where are you using the ViewHelpers, in a template of an Extbase Controller action?

[2020-04-14 09:22] SirZockholm commented on #146
Yes this `setup.typoscript` is included and works. Other plugin settings have been set there as well.
If there is no font defined everything works fine. But as soon as i put `fontFamily="anyFont"` in the template `/Templates/Referenz/Pdf.html` TCPDF throws an error.

[2020-04-14 09:25] SirZockholm commented on #146
I noticed my mistake. I overwrote the typoscript again in our main plugin where it pointed to a wrong path. I slapped it in there at the beginning of this project and forgot about it.

Thanks for your time and hints to solve this Problem.

[2020-04-14 09:25] #146 closed

[2020-04-14 09:32] maechler commented on #146
So now the custom fonts do work?

[2020-04-14 10:15] SirZockholm commented on #146
The example fonts are displayed without a problem. Though the fonts we're trying to use are not displayed correctly. It's just hieroglyphs.
I recieved the font-files in .ttf format and even checked with an online Font-Converter tool. They are .ttf.
Now I don't get any errors whatsoever.

[2020-04-14 10:33] maechler commented on #146
I see, thanks for your feedback! You could try setting the font type explicitly to `TrueTypeUnicode` or `TrueType`, see [CustomFonts](https://docs.typo3.org/typo3cms/extensions/pdfviewhelpers/stable/ConfigurationReference/CustomFonts/Index.html#typoscript).

Else you could probably try converting the font to a different format (https://tcpdf.org/docs/fonts/).

[2020-04-14 12:00] SirZockholm commented on #146
I converted the Fonts [here](http://fonts.snm-portal.com/files/5e95a5081be81/result/metapro-black.php) and switched the Files generated from TCPDF. Now they are displayed correctly.

[2020-04-17 14:25] #124 closed

[2020-05-02 09:04] Gernott opened #155 "Font in Tablecell not visible after Pagebreak"
If you use <pdf:html> with a <table> inside with background-colour in cells, then the text on page 2 in cell one is not visible, when the content of this cell is parted on 2 pages.
See attached PDF (press strg+a on page 2 to see the hidden text).

[example.pdf](https://github.com/bithost-gmbh/pdfviewhelpers/files/4567356/example.pdf)
[WebsitePdf.zip](https://github.com/bithost-gmbh/pdfviewhelpers/

[2020-05-04 05:49] maechler commented on #155
@Gernott Thanks for reporting! I will have a look at it this week, but probably this is a TCPDF issue.

[2020-05-04 17:43] Gernott commented on #155
It seems to work with direct PHP / TCPDF 6.3.5 (Github Master).
See attached PHP and PDF file with same HTML code.
[phptry.zip](https://github.com/bithost-gmbh/pdfviewhelpers/files/4576238/phptry.zip)

[2020-05-04 19:15] maechler commented on #155
@Gernott Perfect thanks, so we will update TCPDF soon!

[2020-05-05 14:35] Gernott commented on #155
Hmmmm, I replaced the TCPDF version in the EXT:pdfviewhelpers 2.3.1 in the folder Resources/Private/PHP/tcpdf/ from 6.2.26 to 6.3.2 (from Github). But the problem still appears with my PDF Viewhelper.
So it is more tricky. I have no idea where to look now. Do you have any hints what I can try now?

[2020-05-06 08:33] maechler commented on #155
I guess I would have to start using a debugger now as well. But maybe you can find out something by starting to comment out `TCPDF` methods that we have overwritten in `BasePDF`, e.g. `endPage`: https://github.com/bithost-gmbh/pdfviewhelpers/blob/master/Classes/Model/BasePDF.php#L123-L133

If commenting out one of these functions helps, we know where to have a closer look at. You should be able to

[2020-05-07 19:41] maechler commented on #155
@Gernott The problem seems to be within our function `renderHeader` in `BasePDF`. You could provide your own PDF class (see https://docs.typo3.org/p/bithost-gmbh/pdfviewhelpers/master/en-us/ConfigurationReference/AdvancedCustomization/Index.html#extend-basepdf-class), overwrite the function and comment out `$this->setPageMark();`

[code]

I am not entirely sure anymore why we use `$this->setPageMa

[2020-05-22 08:02] aadlung opened #156 "Add enc Parameter to addTTFFont"
Depending on the fonts, using special characters (e.g. in Germany or Hungary) sometimes require to add a font with a utf-8 encoding (not on the document, but on the font), even if the file is of the type "TrueType".

The `DocumentViewHelper.php` file uses the following syntax:
[code]

So the encoding of the font file is always empty.

**Describe the solution you'd like**
I would ask to replace it

[2020-05-23 10:41] maechler commented on #156
@aadlung Thanks for creating this issue! We will sure add this as a parameter, I will also check whether it makes sense to add the remaining parameters.

[2020-06-01 18:05] gvv1401 opened #159 "Backend usage"
Hi guys!
I'm trying to use the pdfviewhelpers in the backend module. I added the next line in my TypoScript-setup:
`module.tx_pdfviewhelpers < plugin.tx_pdfviewhelpers`
as described in #https://github.com/bithost-gmbh/pdfviewhelpers/pull/15
But I got an error: No pdfviewhelpers settings found. Please make sure you have included the static TypoScript template.
What is wrong? On FE all works fine.
P

[2020-06-01 20:13] maechler commented on #159
@gvv1401 Could you check whether `module.tx_pdfviewhelpers` is being set using the TypoScript object browser?

<img width="817" alt="Screenshot 2020-06-01 at 21 56 40" src="https://user-images.githubusercontent.com/4113819/83448911-fa30d800-a452-11ea-9397-a9e79b87a17a.png">

Actually you do not even have to set it yourself, as it is being set in `setup.txt` of the static TypoScript template.

[2020-06-01 20:14] #155 closed

[2020-06-01 20:14] #156 closed

[2020-06-01 20:19] maechler commented on #156
I added this parameter in `v2.3.2` which I just released.

[2020-06-01 20:22] maechler commented on #155
This should be fixed in `v2.3.2` which I just released.

The problem seemed to be that setting a page mark at this point lead to a wrong ordering of the background and the text within the PDF document. The text was being rendered, but it was hidden behind the coloured background.

[2020-06-02 06:40] Teddytrombone opened #161 "Custom fonts with same family but different styles always uses "regular" style"
**Describe the bug**
If you use custom fonts with same family but different styles like regular and bold, then the pdf only has the regular style.

**Environment**
TYPO3 version(s): v9.5.16
pdfviewhelpers version: v2.2.2, v2.3.2

**Steps to reproduce**
Register two fonts, e.g. "font" and "fontb". "fontb" is the bold version of "font". Now create a PDF which renders an HTML string with regular and

[2020-06-02 08:18] gvv1401 commented on #159
I found the reason! I have 3 pages tree in BE. On first tree pdfviewhelpers not included, on second and third - included. When I changed order of trees (first now last) all works.
![image](https://user-images.githubusercontent.com/10170885/83497180-c5f50000-a4c2-11ea-90f8-24672121ac61.png)

[2020-06-02 09:05] maechler commented on #161
@Teddytrombone Thank you very much for your bug report and providing a fix! I will have a look at it this week and release a new version.

[2020-06-02 09:07] maechler commented on #159
I am glad the issue is solved! In my understanding however the order of the pages should not matter. What should matter is, that all the pages have the static TypoScript template included.

[2020-06-02 09:07] #159 closed

[2020-06-02 12:57] Gernott commented on #155
Tested and works fine. Thank you - good work!

[2020-06-03 17:35] #161 closed

[2020-06-03 18:12] maechler commented on #161
I just released a new version `v2.3.3` including your fix. Thanks again very much for that!

[2020-06-09 11:07] mightynico opened #164 "TCPDF ERROR: Some data has already been output, can't send PDF file"
After I generate a PDF-File with standard config für tx news I get the output "TCPDF ERROR: Some data has already been output, can't send PDF file".

I try to delete the function on line 7641 in the tcpdf.php file and it works.
[code]
I use the TYPO3 version 8.7.32 width composer
pdfviewhelpers version: 2.3.3
PHP:  7.2.31

[2020-06-09 12:50] maechler commented on #164
@mightynico Which version of `news` are you using? Are you using the following link to access the PDF view?

[code]

[2020-06-12 07:58] maechler commented on #164
@mightynico Any update on this?

[2020-06-17 06:35] mxpgmbh opened #165 "Since 2.3.2 the PDF template background is above background and borders of pdf:html"
**Describe the bug**
I use a template PDF with some background image (e.g., some circles) and add text with the `pdf:html`ViewHelper to it. In the ViewHelper I draw a table (some data points) and define background and borders with CSS (so the table gets more readable).

Since version 2.3.2 of pdfviewhelpers the PDF background gets drawn over the background and borders of the table. The text itesel

[2020-06-17 07:41] maechler commented on #165
@mxpgmbh Thanks for reporting! That could be related to the `FPDI` and `TCPDF` updates done in `v2.3.2`: https://github.com/bithost-gmbh/pdfviewhelpers/blob/master/CHANGELOG.md#232---june-1-2020

If you could try to downgrade `FPDI` to `v2.2.0` and test it again, that would be great. The source is located in `EXT:pdfviewhelpers/Resources/Private/PHP/fpdi/`.

FPDI: https://www.setasign.com/products

[2020-06-21 22:11] fgerards opened #166 "Typoscript template for news extension doesnt work"
**Describe the bug**
TypoScript static template for news-extension wont work. as the Typoscript condition is around the whole page configuration, the page type doesnt exist and you get an undefined pageType error. please fix.

**Environment**
TYPO3 version(s): 10.4 LTS
pdfviewhelpers version: latest

**Steps to reproduce**
Tell us how to reproduce this issue. Preferably with a fresh TYPO3 installa

[2020-06-22 06:03] mxpgmbh commented on #165
I sent you an email with an example mini extension demonstrating the bug,

[2020-06-22 06:08] maechler commented on #166
@fgerards Thanks for reporting! I just verified this bug and will fix it probably this week.

[2020-06-23 05:39] maechler commented on #165
@mxpgmbh It seems to be related to this change: https://github.com/bithost-gmbh/pdfviewhelpers/commit/027163c26336f21562067911d3247144f965c4b6

I will have to further investigate this. You could go back to the previous behaviour by providing your own BasePDF class:

[code]

[code]

It seems however that this does only work for manual page breaks and not for automatic page breaks.

[2020-06-23 20:02] maechler commented on #165
@mxpgmbh I think I found the correct way to fix this: https://github.com/bithost-gmbh/pdfviewhelpers/commit/9a94a1fc75fe4c379b0ea132864ae6553d908a5d

According to the TCPDF documentation `setPageMark()` needs to be called after an image is placed in the background to allow the content to be rendered in front of the background:

The same seems to apply if we use a PDF template in the background.

[2020-06-24 07:15] maechler commented on #166
@fgerards Should be fixed with https://github.com/bithost-gmbh/pdfviewhelpers/pull/168/commits/424bf33e17a25926b771a1dccb7a225037cfcc08.

[2020-06-24 07:17] maechler opened #169 "Cleanup EXT:news template"
- Remove TypoScript for TYPO3 8 LTS
- Move `config` to page object
- Remove  `module.tx_pdfviewhelpers`

[2020-06-24 17:31] maechler opened #170 "Add recursive merging to image processingInstructions"
[code]

[2020-06-25 07:53] #136 closed

[2020-06-25 07:53] #165 closed

[2020-06-25 07:53] #166 closed

[2020-06-25 08:00] maechler commented on #136
I just released `v2.3.4` which fixes this issue.

[2020-06-25 08:01] maechler commented on #165
I just released `v2.3.4` which fixes this issue. If you like the extension, please consider giving it a star on GitHub :)

[2020-06-25 08:01] maechler commented on #166
I just released `v2.3.4` which fixes this issue. If you like the extension, please consider giving it a star on GitHub :)

[2020-06-25 08:03] maechler commented on #164
Closing because of no response within 2 weeks.

[2020-06-25 12:19] mightynico commented on #164
Sorry there was a bereavement in our team, thats why i could'nt test ist. Bit I will this weekend.

[2020-06-25 12:38] maechler commented on #164
@mightynico Oh, my condolences! I reopen this issue, although I think it is very likely due to some third party extension or debug statements or just anything that outputs content before the PDF is finished and sent. Just today I successfully tested the news template shipped with `pdfviewhelpers` and the newest version of the `news` extension.
See also https://docs.typo3.org/p/bithost-gmbh/pdfview

[2020-06-25 13:30] mightynico commented on #164
Ok we have fix the problem after restart all systems and resintall the plugins. It was magic. Thanks for your help.

[2020-06-25 13:43] maechler commented on #164
I'm glad you could fix the issue!

[2020-06-25 13:43] #164 closed

[2020-08-14 10:32] mxpgmbh commented on #165
Sorry for the late reply, with work and vacation, I was just now be able to test the new version.

It works now as expected, thanks!

[2020-09-23 14:14] cdaecke opened #175 "Lots of error messages in TYPO3 log regarding globalVar = TSFE:type = 28032013"
**Describe the bug**
The extension produces lots of errors in the TYPO3 logfile when including the static template `pdfviewhelpers - EXT:news`:

As the error message states, this is due to the fact, that TYPO3 10 does not support the old typoscript conditions anymore.

**Environment**
TYPO3 version:`v10.4.8`
pdfviewhelpers version: `v2.3.4`

**Steps to reproduce**
Just install the extension and in

[2020-09-23 14:16] cdaecke commented on #175
Just found this https://github.com/bithost-gmbh/pdfviewhelpers/issues/169, so you are already aware of this issue ;-)

[2020-09-24 08:53] maechler commented on #175
@cdaecke Thanks for your well written error report! I wanted to add support for TYPO3 v10 in a backwards compatible manner. But I agree that we could probably drop support for TYPO3 v8 now in favour of a clean error log.

As a workaround you could simply include the part of `TypoScript/Extensions/News/setup.txt` where it says `Type condition for TYPO3 9 and 10 LTS` in your own TypoScript setup and

[2020-09-24 09:00] maechler commented on #175
We should also update the TypoScript conditions in the documentation to `[getTSFE().type == 28032013]`.

[2020-10-07 09:23] butu opened #176 "AvoidPageBreakInsideViewhelper not working in HtmlViewHelper"
**Describe the bug**
I need the AvoidPageBreakInsideViewhelper inside a HtmlViewHelper. But the content in the AvoidPageBreakInsideViewhelper gets deleted and is not rendered at all.

**Environment**
TYPO3 version(s): 8.7.32
pdfviewhelpers version: 2.3.4

**Steps to reproduce**
`<pdf:document>
	<pdf:page importPage="1" autoPageBreak="1" margin="{top:50, right:20, bottom:20, left:20}">
		<pdf:html

[2020-10-07 10:14] maechler commented on #176
@butu Thanks for this well written error report!

Unfortunately I think there is no easy fix for this, as this ViewHelper is not meant to be used in that way. It is meant to wrap a composition of `EXT:pdfviewhelper` ViewHelpers but can not be used inside an HtmlViewHelper.

A possible workaround for you could be to split your content into multiple calls to `pdf:html` like this:

[code]

Does that

[2020-10-09 11:26] kurtwithslc opened #177 "No class named Bithost\Pdfviewhelpers\Hooks\TypoScriptFrontendController"
**Describe the bug**
After installing pdfviewhelpers installation is broken in Frontend, and later on also in backend.
I get this error:
No class named Bithost\Pdfviewhelpers\Hooks\TypoScriptFrontendController
in /html/typo3/typo3_src-10.4.9/typo3/sysext/core/Classes/Utility/GeneralUtility.php line 3332
at TYPO3\CMS\Core\Utility\GeneralUtility::callUserFunction('Bithost\\Pdfviewhelpers\\Hooks\\Typ

[2020-10-13 13:36] maechler commented on #177
@kurtwithslc I am afraid I cannot reproduce the issue with the versions `10.4.9` of TYPO3 and `pdfviewhelpers` `2.3.4`. Both installing the extension using TER and composer works as expected. The TYPO3 core automatically updates the autoload information and I do not get any error.

Is it possible that you either installed the extension by just copying the source files to `typo3conf/ext` without du

[2020-10-14 06:57] maechler commented on #177
Great! Although I do not think that the issue was related to the PHP version used. If you like the extension, please consider giving it a star on GitHub!

[2020-10-14 06:57] #177 closed

[2020-10-14 06:59] maechler commented on #176
@butu Could you test the proposed workaround? Or did you find another way for you to make it work?

[2020-11-02 12:00] xerc opened #178 "[composer] Warning: Ambiguous class resolution"
PHP 7.3
composer 1.10.5
[code]

source/typo3conf/ext/pdfviewhelpers/Resources/Private/PHP/tcpdf/include/barcodes/datamatrix.php
vendor/tecnickcom/tcpdf/include/barcodes/datamatrix.php

source/typo3conf/ext/pdfviewhelpers/Resources/Private/PHP/tcpdf/include/barcodes/pdf417.php
vendor/tecnickcom/tcpdf/include/barcodes/pdf417.php

source/typo3conf/ext/pdfviewhelpers/Resources/Private/PHP/tcpdf/includ

[2020-11-03 07:47] aimeos commented on #178
@maechler If TCPDF is required by another composer package too, the files will be once in the `./vendor/` directory and once in `./typo3conf/ext/pdfviewhelpers/Resources/Private/PHP/tcpdf/`. In the TER package, TCPDF must be included in the package but for composer installations, only `tecnickcom/tcpdf` should be defined as requirement in the `composer.json` file.

[2020-11-03 14:03] maechler commented on #178
@xerc @aimeos Thanks for reporting this issue! I am aware of this issue, unfortunately I have not yet found a way to solve this.

The problem is that TYPO3 relies on the `composer.json` file for generating the autoload information even if not run in composer mode. If we removed the following line, then autoloading would not work anymore in non composer mode:

https://github.com/bithost-gmbh/pdfvie

[2020-11-03 14:06] maechler opened #179 "Remove TCPDF and FPDI source files from the extension"
`TCPDF` and `FPDI` should be required as composer dependencies. For non-composer users we should add installation instructions to the documentation.

See also https://github.com/bithost-gmbh/pdfviewhelpers/issues/178

[2020-11-03 14:08] maechler commented on #176
Closing because of no response. If you think this is a mistake, please let me know.

[2020-11-03 14:08] #176 closed

[2020-11-05 09:22] aimeos commented on #178
@maechler A simple solution is to leave the directories listed in the classmap empty by default and only add the source code of tcpdf and fpdi in the package uploaded to TER. We do this in the same way and use a build script that automates adding additional source code. This is an excerpt of our phing build script:
[code]

[2020-11-05 09:26] jonaseberle commented on #178
Here's are 2 approaches with custom autoloaders:

using .phar:
https://insight.helhum.io/post/148112375750/how-to-include-binaries-for-ter-exts

using a separate composer.json:
https://gist.github.com/cedricziel/08ea469db5197e24552c

[2020-11-05 14:03] maechler commented on #178
@aimeos @jonaseberle Thanks for the proposals! If anyone of you could prepare a pull request, I would be happy to include a fix into the extension. I would probably go for a custom `composer.json` and autoloader that is only used if we are not in composer mode. At the moment I am rather busy, but if none of you can work on this, I will do it sometime.

[2020-11-15 20:12] butu commented on #176
I am sorry for not responding, but unfortunately the workaround is not an option in my case, because the PDF is splitted in many partials. I would have to open the avoidPageBreakInside Viewhelper in one partial and close it in another, which is not valid. Hard to explain. Is there no chance to add this feature? Depending on the costs, our client may be willing to fund this new feature :)

[2020-11-18 10:47] maechler commented on #176
Adding such a feature would probably have a big impact on performance, complexity and rendering behaviour of the `HTMLViewHelper`. At the moment the rendering of the `HTMLViewHelper` happens in two phases:

1) Render all children to an HTML string. At this stage `AvoidPageBreakInsideViewHelper` is already called if nested.

2) Pass this string to  `TCPDF::writeHTML` method. Within this method TCPD

[2020-11-23 10:17] butu commented on #176
Thank you for the input and your help! I will try this!

[2020-11-23 12:22] maechler commented on #176
@butu No worries, would be nice if you could tell us whether this solved your issue or not as soon as you tested it. And if you like the extension, please consider giving it a star on GitHub (:

[2021-01-05 18:15] int-digital opened #180 "<pdf:image ViewHelper cannot handle spaces in image filenames"
Hi,

when calling the `<pdf:image>` ViewHelper with an image containing urlencoded spaces, e.g.
[code]
we are receiving an error message
[code]

TYPO3 version(s): 10.4.12
pdfviewhelpers version: 2.3.4

A solution is to urldecode the src in EXT:pdfviewhelpers/Classes/ViewHelpers/ImageViewHelper.php
[code]

Regards,
Saša

[2021-01-05 19:49] maechler commented on #180
Hi Saša,

Thanks for this will written issue. I would however argue that `fileadmin/user_upload/_b2b/products/11009379_tv%20MOLISE AH_BBS.jpg` is a path and as such `%20` should be interpreted as `%20` literally instead of like a space.

It would probably be different if it was a file URI, such as: `file:///some/absolute/path/to/fileadmin/user_upload/_b2b/products/11009379_tv%20MOLISE AH_BBS.jpg`

[2021-01-05 20:08] maechler commented on #180
If you already have an image object, you can just pass it as the source:

[code]

Does that work for you?

[2021-01-06 09:03] int-digital commented on #180
The same error occurs when using `<pdf:image src="{someImageObj}" />`

[code]

[2021-01-06 09:16] maechler commented on #180
Then `{someImageObj}` is probably not an image object implementing the `FileInterface`. Could you please show us the output of `<f:debug>{someImageObj}</f:debug>`?

[2021-01-14 11:17] butu commented on #176
@maechler It worked, does exactly what I needed! Thank you, very much! :)

[2021-01-27 09:05] maechler commented on #180
Closing because of no response within 3 weeks. If you would like to continue the discussion, please feel free to comment.

[2021-01-27 09:05] #180 closed

[2021-03-22 11:00] maechler opened #181 "Add extension-key to "extra" in composer.json"
https://docs.typo3.org/m/typo3/reference-coreapi/master/en-us/ExtensionArchitecture/ComposerJson/Index.html#extra

[2021-04-25 16:31] maechler commented on #181
Fixed by  #182

[2021-04-25 16:31] #181 closed

[2021-05-16 09:18] averlon opened #183 "example for pdf form to fill in fields"
Hi,
I am looking for an example to fill in form fields of an existing pdf-file and store the result in a different file.

The values to fill in shall be taken from the user record of some folder.

Is that possible with the extension and is there an example for such way to use it?

Regards
Karl-Heinz

[2021-05-16 11:54] maechler commented on #183
Hi @averlon

I do not think it would be easily possible to fill in form fields of an existing PDF. We currently use [FPDI](https://www.setasign.com/products/fpdi/about/) to load existing PDFs as a template and [PdfParser](https://github.com/smalot/pdfparser) to load the contents of a PDF in the unit tests. Both of them do not seem to offer the possibility to alter form fields.

You could however t

[2021-06-16 14:08] maechler commented on #183
@averlon Did you find a solution for your problem?

[2021-07-14 16:17] tpinne opened #184 "Newer TYPO3 versions will require extension key in composer.json"
Message during `composer install/update`:

The missing piece:

[code]

[2021-07-14 16:28] maechler commented on #184
@tpinne Thanks for reporting! This has already been fixed: https://github.com/bithost-gmbh/pdfviewhelpers/pull/182
I have however not created a release since, as it only triggers a warning.

[2021-07-14 17:13] tpinne commented on #184
Ah ok. I’ve only looked at the master and didn’t saw it there.
But because the warning encourages people to inform the developer there might be more people reporting this :)

[2021-08-03 07:49] maechler commented on #183
Closing because of no response.

[2021-08-03 07:49] #183 closed

[2021-08-03 07:53] #184 closed

[2021-08-04 12:53] maechler commented on #184
@tpinne I created a new release yesterday that adds the extension key to the composer.json :)

[2021-09-23 12:41] WinkiG opened #187 "Can't display Pagenumber in Footer with custom Font"
I'm using the Custom-Font Arial in my document
the Font displayes correctly in the whole document except the Footer.

heres the relevant part of my ts
[code]
and my html of the footer:
[code]

heres the output:
![grafik](https://user-images.githubusercontent.com/85866516/134506612-50bd8109-237a-4aea-8dd7-c694bab56ee8.png)

this happens only when i include the Viewhelpers in the footer. normal text

[2021-09-24 14:10] maechler commented on #187
@WinkiG Thanks for your bug report! I had a look at the issue and I can easily reproduce this with a simple example:

[code]

It seems to be an issue with the order in which we do the rendering in the `AbstractTextViewHelper.php`. When I move the call `$this->getPDF()->SetFont` to the beginning of the method (just before `$this->renderChildren()`), the problem is solved for my example. If we set t

[2021-09-27 09:40] WinkiG commented on #187
@maechler thanks for the fast reply.
yep applying that fix solves my problem.

[2021-09-28 06:44] DanielSiepmann commented on #179
This doesn't need to be breaking.
The TER release can still contain the libraries as usual. E.g. check out https://github.com/tomasnorre/typo3-upload-ter#recommendation. The release is uploaded anyway, and can therefore be prepared accordingly. No need to document anything and move the heavy stuff to users.

Everyone who uses TER should probably get the bundled libraries, while everyone using comp

[2021-09-28 16:34] maechler commented on #179
@DanielSiepmann Thanks for sharing these resources! You are right, it does not need to be breaking as long as we still include the sources for the TER release. If this could be automated, that would be very handy of course!
I will have a look at this, however I am rather busy at the moment, I do not know when I will get to work on this.

[2021-09-29 05:44] DanielSiepmann commented on #179
Thanks for fast response. I didn't publish anything to TER myself, that's why I won't provide a PR. Hope those resources help, and it will make it as none BC in the future. Don't feel pushed by my comments on that topic.

[2021-10-13 06:56] aimeos opened #189 "TYPO3 11.5 support"
TYPO3 11.5 has been released last week. When will be a compatible version available?

[2021-10-13 07:37] maechler commented on #189
@aimeos I just tested the example PDFs that are shipped with the extension with TYPO3 `v11.5`, the rendering seems to work perfectly without any changes necessary. However there seems to be a caching issue when a page is called multiple times, but I guess we can just use the `internal` option in `$GLOBALS['TSFE']->set_no_cache` or users could set `disableNoCacheParameter` to `false`.
I will still

[2021-10-25 14:07] Schweriner opened #191 "AvoidPageBreak ViewHelper causes missing Header"
**Describe the bug**
When the AvoidPageBreak ViewHelpers kicks in, the Header setup for the current wont be set on the page. I checked the scope and everything else... there must be a missing renderHeader() call somewhere.

**Environment**
TYPO3 version(s): 10.4.20
pdfviewhelpers version: 2.3.5

**Steps to reproduce**
Setup a Header for the page and make the AvoidPageBreakViewHelper cause an PageB

[2021-12-07 15:07] maechler commented on #191
@Schweriner I tried to reproduce the issue, however it seems to work in my case. I used and customised the example from the Full Feature Show Case: https://docs.typo3.org/p/bithost-gmbh/pdfviewhelpers/main/en-us/Examples/FullFeatureShowCase/Index.html

The header gets printed both on the first and the second page. Could you please provide an example on how I can reproduce the issue?

[code]

[2021-12-07 17:37] #187 closed

[2021-12-07 17:55] maechler commented on #189
A new release `v2.4.0` with TYPO3 v11 support is available now.

[2021-12-07 17:55] #189 closed

[2021-12-07 17:58] maechler commented on #175
This should be fixed with `v2.4.0` as we dropped support for TYPO3 v8. I will however keep this issue open to update the documentation.

[2021-12-28 10:26] oruehenbeck opened #195 "Poppins not Working as Custom Font for PDF Generation - Roboto works as expected. Why?!"
- Have you consulted the [documentation](https://docs.typo3.org/typo3cms/extensions/pdfviewhelpers/)?
Followed the documentation to the letter. Tried multiple variants just to be sure. Tried other fonts, Problem only occurs as soon as soon as I use any of the poppins ttf files.
- Have you googled your question?
Yes I have, found no related issues.
- Have you asked your colleagues for help?
No coll

[2021-12-29 15:14] maechler commented on #195
@oruehenbeck I had a brief look at the issue, unfortunately I have not found a solution yet. It looks like a conversion issue in the TCPDF library. I would recommend to look for a solution for similar problems related to TCPDF, e.g. in the GitHub repository: https://github.com/tecnickcom/TCPDF/issues
Maybe you could also try to convert the font to a different font format and back to TTF and try it

[2022-01-06 11:31] h-e-l-l-o-w-o-r-l-d opened #196 "TYPO3 dependency in composer.json is improvable"
Hi,

I see several problems with your json dependency:

- As 2.4 supports TYPO3 11, the depency must be <=11.5.99 instad of <11.5.99. Because of this our self written tool doesn't detect the extension as TYPO3 11 ready.
- It's probably bad practise to mixup versions with and without "v" as prefix. So it should be 9.5.0 instead of v9.5.0. Almost all extensions have NO v-prefixes.
-  Almost all exte

[2022-01-06 13:18] maechler commented on #196
Hi @h-e-l-l-o-w-o-r-l-d

I agree that the version constraints could be improved, I disagree however that they are currently wrong. Your tool should be capable of reading such a version constraint (without comma and with <) because it is perfectly valid.
Also see:  https://getcomposer.org/doc/articles/versions.md

Changing it to `<=11.5.99` does not make a whole lot of a difference, it just additio

[2022-01-06 13:33] h-e-l-l-o-w-o-r-l-d commented on #196
You are of course right, sorry. The tool is fine without comma, just the < needs some tweaking.

However, it's a bit off from other extensions. And <= instead of < is more logical, because the version you see is in the range then and that is easier to grasp. ;)

Your suggestion with || is probably the best anyway, so go for it.

[2022-01-07 13:57] #196 closed

[2022-02-08 15:37] Physikbuddha opened #198 "Undefined array key warning on PHP 8.0"
**Describe the bug**
After installation, a PHP warning is issued on every frontend request:
Undefined array key 'tx_pdfviewhelpers' in class Bithost\Pdfviewhelpers\Middleware\Frontend\StopOutputMiddleware:22

**Environment**
TYPO3 version: `v11.5.6`
pdfviewhelpers version: `v2.4.0`
PHP version: `8.1.2`

**Steps to reproduce**
Install the extension and load any page in the frontend. The exception w

[2022-02-10 07:07] #198 closed

[2022-03-22 07:47] maechler commented on #195
@oruehenbeck Have you found a solution for that issue?

[2022-03-22 07:48] maechler commented on #191
@Schweriner Could you solve the issue or could you provide an example to reproduce the error?

[2022-04-12 07:31] maechler commented on #195
Closing because of no response.

[2022-04-12 07:32] #191 closed

[2022-05-30 12:13] luhell opened #202 "Tables unexpected gap"
**Describe the bug**
While creating a standalone PDF via a template i try to use tables inside of an pdf:html viewhelper, but as soon as iam using tds there is a gap between them that is not removable by inline css

**Environment**
TYPO3 version(s): 10.4.26
pdfviewhelpers version:  2.4.0

[2022-05-30 15:06] createdwithlove opened #203 "System requirements?"
I've tried the extension in a local ddev installation but wasn't able to get a pdf. No error or something in the logs, just an empty page where I expected the generated PDF.
After playing arround with no solution I tried it on our "real" dev server and it worked like expected!
Are their any system requirements to the host or missed I something in the docs?

[2022-06-27 09:28] chriskrj opened #204 "PDF/UA Support"
Is there any support for PDF/UA? (https://en.wikipedia.org/wiki/PDF/UA)
I am interested in accessibility for people with disabilities who use assistive technology such as screen readers.

For that, I need to tag element sections and tables or images with alternative Informations.

[2022-06-28 11:52] maechler commented on #204
I have to admit I am not particular familiar with the `PDF/UA` standard. We are using [TCPDF](https://tcpdf.org) under the hood, so we can only support it to the extend that TCPDF does it. However I do not know how well it is supported and there seems to be an open question about this as well: https://github.com/tecnickcom/TCPDF/issues/281

I would recommend to quickly test a PDF of yours or from

[2022-06-29 13:19] createdwithlove opened #205 "How to get content into pdf?"
Maybe this question is too basic, but couldn't find an answer.

Given we have a page with some content on it and now wan't the visitor to be able to download this page as a pdf what will we have to do?

Currently we installed your EXT and load this typoscript setup https://gist.github.com/createdwithlove/43b3c84242484cedf1ced1de24a36150.

When calling `/index.php?id=123&type= 1617455214` we get a

[2022-07-04 06:24] maechler commented on #205
@createdwithlove If you want to pass rendered content elements to the Fluid template you could use something like `lib.dynamicContent`. For your page `type=0` you are likely doing something similar.

https://docs.typo3.org/c/typo3/cms-fluid-styled-content/11.5/en-us/FirstSteps/DisplayContent.html

[code]

You could then additionally provide a CSS stylesheet tailored to the PDF rendering.

If you w

[2022-07-04 12:11] createdwithlove commented on #205
Thank you @maechler for your help. Using the news example, I got a better understanding of how the functions of your extension are meant to work.
If you have only worked with one page type so far and all content is "automatically" available, you have to rethink a bit here ;)
As soon as I am sure that I have understood everything, I would send a PR with a supplement to the documentation and an exam

[2022-07-04 12:11] #205 closed

[2022-07-04 12:17] createdwithlove commented on #203
Just started testing with a new DDEV setup and everything works fine. I blame it on the fact that it was monday …

[2022-07-04 12:17] #203 closed

[2022-08-17 15:35] chriskrj commented on #204
Thanks for first Improvements! Maybe TCPDF will implement some Improvements on this Topic.

[2022-08-18 18:09] maechler commented on #204
Thanks for your contributions! I will have a look at it, but it will probably take some time as I need to read up on this topic first. In case you need these changes soon, you have the possibility to extend the affected classes in your own code or use composer patches.

[2022-08-23 08:44] medarob opened #207 "<style> tag not possible in <pdf:html>"
**Describe the bug**
According to the documention it should be possible to add a `<style> .. </style>` tag with some custom CSS directly in the template file:
https://docs.typo3.org/p/bithost-gmbh/pdfviewhelpers/main/en-us/ViewHelpers/HtmlViewHelper/Index.html

However, In my example adding a custom `<style>` tag breaks the output of the PDF.

**Environment**
TYPO3 version(s): 10.4.30
pdfviewhelpe

[2022-08-23 14:27] maechler commented on #207
@medarob I could not test this yet, but it sounds like it could be a Fluid parsing issue. If it works for you, you could just remove the `<style>` tag and move your styles to the `pdf.css` file.

Another way to solve this could probably be to wrap the styles with `<![CDATA[ ... ]]>`, e.g.

[code]

Please also see https://docs.typo3.org/m/typo3/guide-extbasefluid/main/en-us/Fluid/ThingsToKnow/JsAnd

[2022-08-23 14:49] medarob commented on #207
With `<![CDATA[ ... ]]>` there is no error anymore but the style to change the color does not work.
Moving the style to the css file works.

I furthermore noticed, not everything works. I'm still having trouble to add `padding`/`margin` to an `ul li` element via custom CSS so that I can move the list elements to the left. Changing the `font-size` and `color` works, though. But maybe that's a limit

[2022-08-24 16:15] maechler commented on #207
In fact `padding` and `margin` should be supported by TCPDF. However HTML support is rather limited in general, so it might well be that you are hitting a limitation there.

[2022-10-14 09:00] thorstenBorn-cosmoblonde opened #208 "Image viewhelper do not accept FileReference"
**Describe the bug**
Using a FileReference object as src parameter leads to an error.

**Environment**
TYPO3 version(s): v11.5.16
pdfviewhelpers version: v2.4.1

**Steps to reproduce**
Using a FileReference Object as src parameter leads to an error:
_Invalid file src provided, must be either a uid, combined identifier, path/filename or implement FileInterface. ERROR: 1536560752_
in ConversionServi

[2022-10-17 07:42] maechler commented on #208
@thorstenBorn-cosmoblonde Thanks for this very nice bug report! I agree, the docs are not specific enough, unfortunately there are two `FileReference` classes:

1. `TYPO3\CMS\Core\Resource\FileReference` -> implements `FileInterface`
2. `TYPO3\CMS\Extbase\Domain\Model\FileReference` -> does not implement `FileInterface`

However I think it would be a nice addition to seamlessly support Extbase `Fi

[2022-11-08 13:11] fm-swe opened #209 "Autocomplete for Viewhelpers?"
Somehow autocomplete for pdf  viewhelpers is not working for me, while others work fine.
I'm using vscode.
Is this a known problem?

[2022-11-08 13:14] fm-swe commented on #209
I tried
[code]
notation from fluid documentation

and

[code]
from pdfviehelpers documentation examples

[2022-11-08 13:34] maechler commented on #209
Hi @fm-swe

The first approach you mentioned must be invalid, as the `pdf` namespace does not have a `schemaLocation`. It really should be the second approach we use throughout our documentation and examples:

https://github.com/bithost-gmbh/pdfviewhelpers/blob/30adfc53b6d039d1f24550f51fb2104e71177379/README.md?plain=1#L61-L62

Also see: https://www.w3.org/TR/xmlschema-1/#schema-loc

I am not sure

[2022-11-11 06:48] maechler commented on #209
@fm-swe Could you solve your issue?

It might be that you need an extension for validation, code completion, etc. in VSCode:
https://marketplace.visualstudio.com/items?itemName=redhat.vscode-xml

[2022-11-11 08:38] fm-swe commented on #209
@maechler I tried the extension (and some others) but it still refused to work :-/
Not sure why though, when it works in phpstorm

[2022-11-11 10:33] aiturria-spain opened #210 "Problems with character conversion for languages e.g Polish, Hungarian etc."
Good morning

I have just a question concerning the conversion of characters for different Eastern European languages like Polish, Hungarian, Czech etc.

It seems to be, that UTF-8 doesn't cover all available characters in mentioned languages. In generated PDF the unknown chars are displayed as ??..

Which other charsets are supported by your extension? I took a look inside the PHP file pol.php an

[2022-11-15 09:11] maechler commented on #209
@fm-swe It might be that these plugins do not like the `default="NULL"` in the XSD for types such as e.g. `xsd:boolean`. But this is just random guessing, without a detailed error message it is difficult to resolve this.

The XSD is auto-generated with `typo3/fluid-schema-generator` and surely leaves room for improvement. I can check if we can improve the generated XSD next time the schema changes

[2022-11-15 09:20] maechler commented on #210
@aiturria-spain I doubt that `UTF-8` does not cover these characters as it supports all Unicode characters. I think you should be able to leave the `pdfviewhelpers` encoding settings as they are set by default.

I rather suspect that you do not treat the text as `UTF-8` in other places of your application (e.g. database, connection to database, file encoding, etc.). Please make sure that you use `

[2022-11-15 09:22] maechler commented on #202
Closing because of no response within almost 6 months.

[2022-11-15 09:22] #202 closed

[2022-11-15 12:24] aiturria-spain commented on #210
Hi Markus

Thanks a lot for your fast response. I'm not sure where the problem is located, but the pdfviewhelper gets the table header text from language files (.xlf). As far I could investigate with the debugger, the LocalizationUtility::translate() reads the correct content from language files. The text in polish is ok. After the PDF was created, the text in table header is displayed with questi

[2022-11-21 06:55] maechler commented on #210
@aiturria-spain Thanks for sharing the template and checking the charset used for the database. Could you please also share some of the characters that fail to be displayed?
Then I could try to reproduce your issue.

[2022-11-23 13:51] aiturria-spain commented on #210
Hi Markus

I give you the text content (Polish) for the table header that will be filled during execution of the ViewHelper:

- Numer seryjny
- Produkt / komponent
- Numer artykułu
- Opis Predmeta
- Ilość
- Uwagi

Some of this characters will be displayed as a mark question "?" in the PDF document..

Kind regards

Alberto

[2022-11-24 06:54] maechler commented on #210
@aiturria-spain Thanks for the examples! I could now reproduce the issue with the characters. I only had little time to have a look, but it might be that these characters are not supported by the default font. When I change the `fontFamily` to `dejavusans` the characters appear. Can you try changing the font and see if that works?

[2022-11-24 07:51] aiturria-spain commented on #210
Hi Markus

Thanks a lot for your help. I'll try to change the fontFamily and see what happens..

Kind regards

Alberto

[2022-11-24 15:24] fm-swe commented on #209
I just realized it only works for other fluid files because I have some TYPO3 Fluid specific extensions installed in vscode

The redhat "vscode-xml" extension works if I rename my templates to .xml instead of .html, so it must be filtered on file extensions if its active or not.

I was not able to find a setting to enable "vscode-xml" on (x)html files, so sadly this is probably an issue with vscod

[2022-11-24 15:24] #209 closed

[2022-11-28 08:29] aiturria-spain commented on #210
Hi Markus

I tried to set the fontFamily in the html-template. I got the following error:

TCPDF ERROR: Could not include font definition file: arial

After checking the documentation I couldn't find out how to set another font. Do I have to set the fontFamily through the TypoScript or directly in the html template e.g. fontFamiliy="arial".

I took a look into the font you mentioned DejaVusans. Ho

[2022-11-28 10:31] aiturria-spain commented on #210
Hi Markus

I have the following TypoScript configuration:

        fonts {
            subset = 1
            outputPath = typo3temp/pdfviewhelpers/fonts/

            addTTFFont {

                cardo {
                    path = EXT:my_downloadportal/Resources/Public/Fonts/Cardo/Cardo-Regular.ttf
                }
                dejavu {
                    path =  EXT:my_downloadportal/Resou

[2022-11-28 12:31] aiturria-spain commented on #210
Hi Markus

After testing some possibilities I was able to solve the problem. You were right concerning the font dejavusans. This font contains all the needed characters for Polish, Hungarian etc.

My configuration for the fonts a re now the following:

plugin.tx_pdfviewhelpers.settings {

    config {
        language = ger

        fonts {
            subset = 1
            outputPath = typo3temp

[2022-11-28 17:17] maechler commented on #210
@aiturria-spain Great, I am glad to hear that it works for you know!

However you don't need to load `dejavusans` as a TTF font yourself, because it is already shipped with TCPDF. You can set the default font in TypoScript and still override it for special text types or even individual ViewHelpers, please see the settings inheritance section: https://docs.typo3.org/p/bithost-gmbh/pdfviewhelpers/ma

[2022-11-28 17:17] #210 closed